appnope==0.1.0
avro-python3==1.8.2
backports.shutil-get-terminal-size==1.0.0
blinker==1.4
boto3
bs4==0.0.1
redis==3.3.11
celery==4.4.0rc2
certifi==2017.7.27.1
chardet==3.0.4
cloudpickle==0.4.0
configparser==3.5.0
cookies==2.2.1
dashtable==1.4.5
decorator==4.1.2
Django==4.0.3
django-crispy-forms==1.7.2
django-datatables-view==1.14.0
django-extensions==1.9.0
django-filter==21.1
django-tables2==1.13.0
elasticsearch==5.4.0
elasticsearch-dsl==5.3.0
enum34==1.1.6
filelock==2.0.6
future==0.16.0
futures==3.1.1
idna==2.6
ipython==7.16.3
ipython-genutils==0.2.0
jedi==0.10.2
jsonschema==2.6.0
kombu==4.6.3
livy==0.3.0
lxml==4.3.3
mongoengine==0.15.3
mysqlclient==1.4.2
numpy==1.16.3
openpyxl==2.4.9
pandas==0.24.2
pathlib2==2.3.0
pexpect==4.7
pickleshare==0.7.4
polling==0.3.0
prompt-toolkit==1.0.15
ptyprocess==0.5.2
py==1.8.0
py4j==0.10.7
pydot==1.2.3
Pygments==2.2.0
pyjxslt==0.7.0
pykerberos==1.1.14
pymongo==3.7.1
pyparsing==2.2.0
pytest==4.5.0
pytest-ordering==0.6
python-dateutil==2.6.1
pytz==2017.2
requests==2.22.0
requests-kerberos==0.11.0
responses==0.8.1
scandir==1.5
Sickle==0.6.2
simplegeneric==0.8.1
six==1.10.0
Sphinx==1.7.2
sphinx-autobuild==0.7.1
sphinx-rtd-theme==0.3.0
SQLAlchemy==1.3.0
sxsdiff==0.3.0
toposort
traitlets==4.3.2
wcwidth==0.1.7
xmltodict==0.11.0
