{% extends 'core/base.html' %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h2>Analysis</h2>

            <p>This page provides the ability to view, and run, analysis of Jobs. These special "Analysis" jobs are
                designed explicitly for analyzing pre-existing jobs, and are not included in the workflow or progression
                of records for publishing.</p>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <h3>Jobs</h3>

            <!-- optional job lineage network node graph -->
            {% include 'core/job_lineage_network.html' %}

            <div>
                <!-- job datatable -->
                {% include 'core/jobs_dt_table.html' %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <h4>New Job</h4>

            <table class="table table-bordered table-hover">
                <tbody>
                <tr>
                    <td><span class="font-weight-bold">Analysis</span></td>
                    <td>Analysis jobs are a special kind of job. They do not run in the context of a single Record
                        Group, but instead run in their own unique space in Combine. They are designed for analysis of
                        previously run jobs, allowing for analysis across jobs by merging, running new Validation
                        Scenarios, and/or running different indexing mappers to ElasticSearch. They are intended to be
                        run, used, and discarded where convenient.
                    </td>
                    <td>
                        <p><a href="{% url 'job_analysis' %}">
                            <button type="button" class="btn btn-primary btn-sm">Analysis Job</button>
                        </a></p>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

{% endblock %}
