{% load static %}
<html>
	<head>
		<script type="text/javascript" charset="utf8" src="{% static 'core/jQuery-3.2.1/jquery-3.2.1.min.js' %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'core/datatables.min.css' %}">
	    <script type="text/javascript" charset="utf8" src="{% static 'core/datatables.min.js' %}"></script>
		<style>
			body {
				padding:20px;
				font-family: Arial, Helvetica, sans-serif;
				font-size:90%;
			}
			table {
				font-size: 90%;
			}
			.HarvestJob {
				background-color:#deffde;
			}
			.TransformJob {
				background-color:#fffcde;
			}
			.MergeJob {
				background-color:#e3deff;
			}
			.PublishJob {
				background-color:#def3ff;
			}
			.error {
				color:red;
			}
			.bold {
				font-weight: bold;
			}
		</style>
	</head>
	<body>
		<h2><a href="{% url 'combine_home' %}">Combine</a> &#128668;</h2>
		<ul>
			<li><a href="{% url 'livy_sessions' %}">Livy Sessions</a></li>
			<li><a href="{% url 'organizations' %}">Organizations</a></li>
			<li><a href="{% url 'published' %}">Published</a></li>
			<li><a href="{% url 'configuration' %}">Configuration</a></li>
			<!-- <li><a href="http://{{ APP_HOST }}:50070" target="_blank">HDFS Browser</a></li> -->
		</ul>	

		<hr>

		<!-- simple breadcrumbs -->
		<div id="breadcrumbs">
			<a href="/combine"><em>Home</em></a> 
			{% if breadcrumbs %}
				{% for crumb in breadcrumbs %}
					/ <a href="{{ crumb.1 }}"><em>{{ crumb.0 }}</em></a> 
				{% endfor %}
			{% endif %}
		</div>

		{% block content %}
		{% endblock %}

	</body>
</html>