<html>
	<head>
		<style>
			body {
				font-family: Arial, Helvetica, sans-serif;
			}
		</style>
	</head>
	<body>
		<h1><a href="{% url 'combine_home' %}">Combine</a> &#128668;</h1>
		<ul>
			<li><a href="{% url 'livy_sessions' %}">Livy Sessions</a></li>
			<li><a href="{% url 'record_groups' %}">Organizations</a></li>
			<li><a href="http://{{ APP_HOST }}:50070" target="_blank">HDFS Browser</a></li>
			<!-- <li><a href="#">Jobs</a></li> -->
		</ul>
		<hr>
		{% block content %}
		{% endblock %}
	</body>
</html>