{% load static %}
{% load core_template_filters %}
<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    	<!-- Bootstrap CSS -->
    	<link rel="stylesheet" type="text/css" href="{% static 'core/bootstrap-4.0.0/css/bootstrap.min.css' %}">

		<!-- jQuery -->
		<script type="text/javascript" charset="utf8" src="{% static 'core/jQuery-3.2.1/jquery-3.2.1.min.js' %}"></script>
		
		<!-- DataTables -->
		<link rel="stylesheet" type="text/css" href="{% static 'core/datatables.min.css' %}">
		<script type="text/javascript" charset="utf8" src="{% static 'core/datatables.min.js' %}"></script>
		<script type="text/javascript" charset="utf8" src="{% static 'core/fnFindCellRowIndexes.js' %}"></script>
		
		<!-- Bootstrap JS -->
		<script src="{% static 'core/bootstrap-4.0.0/js/bootstrap.min.js' %}"></script>

		<!--highlight-->
		<link rel="stylesheet" href="{% static 'core/highlight.js/default.min.css' %}">
		<script src="{% static 'core/highlight.js/highlight.min.js' %}"></script>

		<!--vis.js-->
		<script type="text/javascript" src="{% static 'core/vis-4.21.0/dist/vis.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'core/visjs_network_global.js' %}"></script>
		<link href="{% static 'core/vis-4.21.0/dist/vis.min.css' %}" rel="stylesheet" type="text/css" />

		<!--json editor-->
		<link href="{% static 'core/jsoneditor-5.18.0/dist/jsoneditor.min.css' %}" rel="stylesheet" type="text/css"></link>
		<script src="{% static 'core/jsoneditor-5.18.0/dist/jsoneditor.min.js' %}"></script>

		<!-- Combine CSS -->
    	<link rel="stylesheet" type="text/css" href="{% static 'core/combine.css' %}">

    	<title>Combine{{page_title}}</title>

	</head>
	<body>

		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	      <a class="navbar-brand" href="{% url 'combine_home' %}">&#128668; Combine</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="navbar-toggler-icon"></span>
	      </button>
	      <div class="collapse navbar-collapse" id="navbarCollapse">
	        <ul class="navbar-nav mr-auto">
	          <li class="nav-item">
	            <a class="nav-link" href="{% url 'organizations' %}">Organizations</a>
	          </li>
	          <li class="nav-item">
	            <a class="nav-link" href="{% url 'analysis' %}">Analysis</a>
	          </li>
	          <li class="nav-item">
	            <a class="nav-link" href="{% url 'published' %}">Published</a>
	          </li>
	          <li class="nav-item">
	            <a class="nav-link" href="{% url 'all_jobs' %}">All Jobs</a>
	          </li>
	          <li class="nav-item">
	            <a class="nav-link" href="{% url 'configuration' %}">Configuration</a>
	          </li>
	          <li class="nav-item">
	            <a class="nav-link" href="{% url 'bg_tasks' %}">Background Tasks</a>
	          </li>
	          <li class="nav-item">
	            <a class="nav-link" href="http://combine.readthedocs.io" target="_blank">Documentation</a>
	          </li>

	          </li>
	           <li class="nav-item">
	            <a class="nav-link" href="{% url 'system' %}">System [<span class="{% if LIVY_SESSION.status == 'idle' %}text-success{% elif LIVY_SESSION.status == 'starting' or LIVY_SESSION.status == 'busy' %}text-warning{% else %}text-danger{% endif %}">Livy/Spark</span>, <span class="{% if BGTASKS_PROC.statename == 'RUNNING' %}text-success{% elif BGTASKS_PROC.statename == 'STARTING' %}text-warning{% else %}text-danger{% endif %}">Background Tasks</span>]</a>
	          </li>	          

	        </ul>
	        <form class="form-inline mt-2 mt-md-0" action="{% url 'search' %}" method="GET">
	          <input class="form-control mr-sm-2" type="text" name="q" placeholder="Search all records..." aria-label="Search" {% if search_string %}value="{{ search_string }}"{% endif %} />
	          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	        </form>
	      </div>
	    </nav>

	    <main role="main" class="container">
	    	
	    	<!-- breadcrumbs -->
	    	<div id="breadcrumbs" class="row">
	    		<div class="col-md-12">
		    		<nav aria-label="breadcrumb">
		    			<ol class="breadcrumb">
		    				<li class="breadcrumb-item"><a href="{% url 'combine_home' %}"><span class='font-weight-bold'>Home</span></a></li>
		    				{% if breadcrumbs %}
								{% for crumb in breadcrumbs %}
									<li class="breadcrumb-item"><a href="{{ crumb.1 }}">{{ crumb.0|safe }}</a></li>
								{% endfor %}
							{% endif %}
	    				</ol>
	    			</nav>
    			</div>
    		</div>

			{% block content %}
			{% endblock %}
		</main>

	</body>

	<!-- global JS -->
	<script>

		// listener to navigate to tab when included in URL
		$(document).ready(function(){
			// Javascript to enable link to tab
			var url = document.location.toString();
			if (url.match('#')) {				
			    $('.nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');
			} 
		})

		// helper function to extend tables when loaded in tabs
		function update_table_widths() {			
			$(".dt_table").css('width', '100%').dataTable().fnAdjustColumnSizing();
		}

	</script>
	
</html>