{% extends 'core/base.html' %}
{% load static %}
{% block content %}

	<div class="row">
		<div class="col-md-12">
			<h2>Combine Background Task: <code>{{ ct.name }}</code></h2>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<table id='bg_tasks_dt' class="table table-bordered table-hover dt_table">
				<thead>
					<tr>
						<th>Task ID</th>
						<th>Type</th>
						<th>Started</th>
						<th>Duration</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><code>{{ ct.verbose_name }}</code></td>
						<td>{{ ct.get_task_type_display }}</td>
						<td>{{ ct.start_timestamp }}</td>
						<td>{{ ct.calc_elapsed_as_string }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<h3>Task Details</h3>
			<div class="row">
				<div class="col-md-12">

					<!-- handle different task types below -->
					
					{% if ct.task_type == 'validation_report' %}
						<p>Click the button below to download the generated Validation Report:</p>
						<button type="button" class="btn btn-success btn-sm">Download Validation Report</button>
					
					{% elif ct.task_type == 'mapped_fields_export' %}

					{% else %}
						<p>No futher details for the task type: <strong>{{ ct.get_task_type_display }}</strong>.</p>
					{% endif %}

				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<h4>Task Parameters</h4>
					<pre><code id="task_params_parsed" class="json">Task params will go here....</code></pre>
					<script>
						$("#task_params_parsed").html(JSON.stringify({{ ct.task_params|safe }}, null, 2));
						$("#task_params_parsed").each(function(i, block) {
							hljs.highlightBlock(block);
						});
					</script>
				</div>
			</div>
		</div>
	</div>


	

{% endblock %}