{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="gray_box">
                <h5>DPLA Bulk Data Compare</h5>
                <p>If bulk DPLA data dumps have been <a target="_blank" href="{% url 'configuration' %}#dbdd_anchor">downloaded
                    and indexed</a>, it is possible to check the existence of Records against that DPLA data, by looking
                    for matching, unique Item URLs. In DPLA records, this is encoded as the <code>isShownAt</code>
                    field. The requirement is mapping the URL of a Record to a field called <code>dpla_isShownAt</code>
                    to ensure this connection between Combine Records and DPLA Items.</p>

                <div class="form-group">
                    <select class="form-control" id="dbdd" name="dbdd">
                        <option value=''>Select a DPLA Bulk Data Download to compare against...</option>
                        {% for bd in bulk_downloads %}
                            <option value='{{ bd.id }}'>{{ bd.s3_key }}</option>
                        {% endfor %}
                    </select>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
