{% extends 'core/base.html' %}

{% block content %}
	
	<div class="row">
		<div class="col-md-12">
			<h2>Configurations</h2>
			<p>Below are some pre-configured settings and user created scenarios for use in Combine.  For the time being, the creation and editing of these are done through the Django admin console.</p>
			<p><a href="/admin/core" target="_blank"><button type="button" class="btn btn-primary btn-sm">Django Admin Console</button></a></p>
		</div>
	</div>

	<div id="oai_endpoints_anchor" class="row">
		<div class="col-md-12">
			<h3>OAI Endpoints for Harvest</h3>
			<p>These are pre-configured OAI endpoints used for Harvest jobs.  Other than the endpoint URL, all values are defaults and can be overridden at the time of harvest.  Combine uses <a href="https://github.com/dpla/ingestion3#oai-pmh" target="_blank">DPLA's Ingestion 3 for OAI harvesting</a>, where more information about these settings can be found.</p>
			<table class="table table-bordered table-hover">
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Endpoint URL</th>
					<th>Verb</th>
					<th>Metadata Prefix</th>
					<th>Scope Type</th>
					<th>Scope Value</th>
					<th>Actions</th>
				</tr>
				{% for oai_endpoint in oai_endpoints %}
					<tr>
						<td>{{oai_endpoint.id}}</td>
						<td>{{oai_endpoint.name}}</td>
						<td><a href="{{oai_endpoint.endpoint}}?verb=Identify" target="_blank">{{oai_endpoint.endpoint}}</a></td>
						<td><code>{{oai_endpoint.verb}}</code></td>
						<td><code>{{oai_endpoint.metadataPrefix}}</code></td>
						<td><code>{{oai_endpoint.scope_type}}</code></td>
						<td><code>{{oai_endpoint.scope_value}}</code></td>
						<td><a href="{{oai_endpoint.endpoint}}?verb=ListSets" target="_blank">List Sets</a></td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>

	<div id="transformations_anchor" class="row">
		<div class="col-md-12">
			<h3>Transformation Scenarios</h3>
			<p>These are used for transforming harvested records into another format (e.g. Service Hub metadata profile, DPLA metadata profile)</p>
			<table class="table table-bordered table-hover">
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Type</th>
					<th>Path on disk</th>
					<th>Transformation Payload</th>
				</tr>
				{% for transformation in transformations %}
					<tr>
						<td>{{transformation.id}}</td>
						<td>{{transformation.name}}</td>
						<td>{{transformation.get_transformation_type_display}}</td>
						<td><code>{{transformation.filepath}}</code></td>
						<td><a href="{% url 'transformation_scenario_payload' trans_id=transformation.id %}">{% if transformation.transformation_type == 'xslt' %}View XSL{% elif transformation.transformation_type == 'python' %}View Python{% endif %}</a></td>
					</tr>
				{% endfor %}
			</table>
			<p><a href="{% url 'test_transformation_scenario' %}"><button type="button" class="btn btn-success btn-sm">Test Transformation Scenario</button></a></p>
		</div>
	</div>

	<div id="validations_anchor" class="row">
		<div class="col-md-12">
			<h3>Validation Scenarios</h3>
			<p>These validation scenarios are used to validate records after a job has completed.  A single validation may contain multiple testes (both schematron and python type).</p>
			<table class="table table-bordered table-hover">
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Type</th>
					<th>Path on disk</th>
					<th>Validation Payload</th>
				</tr>
				{% for vs in validation_scenarios %}
					<tr>
						<td>{{vs.id}}</td>
						<td>{{vs.name}}</td>
						<td>{{vs.get_validation_type_display}}</td>
						<td><code>{{vs.filepath}}</code></td>
						<td><a href="{% url 'validation_scenario_payload' vs_id=vs.id %}">View Validation Payload</a></td>
					</tr>
				{% endfor %}
			</table>
			<p><a href="{% url 'test_validation_scenario' %}"><button type="button" class="btn btn-success btn-sm">Test Validation Scenario</button></a></p>
		</div>
	</div>

	<div id="rits_anchor" class="row">
		<div class="col-md-12">
			<h3>Record Identifier Transformation Scenarios</h3>
			<p>View and manage scenarios for transforming Record Identifiers in Combine.</p>
			<table class="table table-bordered table-hover">
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Type</th>
					<th>Target</th>
				</tr>
				{% for rt in rits %}
					<tr>
						<td>{{rt.id}}</td>
						<td>{{rt.name}}</td>
						<td>{{rt.get_transformation_type_display}}</td>
						<td>{{rt.get_transformation_target_display}}</td>
					</tr>
				{% endfor %}
			</table>
			<p><a href="{% url 'test_rits' %}"><button type="button" class="btn btn-success btn-sm">Test Record Identifier Transformation Scenario</button></a></p>
		</div>
	</div>

	<div id="oai_server_anchor" class="row">
		<div class="col-md-12">
			<h3>Combine OAI Server</h3>
			<p>Combine comes with a built-in OAI server to serve published RecordGroups.  Currently, these settings are configured in <code>localsettings.py</code>.</p>
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>Setting</th>
						<th>Description</th>
						<th>Value</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><code>OAI_RESPONSE_SIZE</code></td>
						<td>How many records to return per OAI response</td>
						<td><code>{{ OAI_RESPONSE_SIZE }}</code></td>
					</tr>
					<tr>
						<td><code>COMBINE_OAI_IDENTIFIER</code></td>
						<td>It is common for OAI servers (producers) to prefix Record identifiers on the way out with an identifier unique to the server.  This setting can also be configured to mirror the identifier used in other/previous OAI servers to mimick downstream identifiers.</td>
						<td><code>{{ COMBINE_OAI_IDENTIFIER }}</code></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div id="dbdd_anchor" class="row">
		<div class="col-md-12">
			<h3>DPLA Bulk Data Downloads</h3>
			<p>Manage local, <a href="https://pro.dp.la/developers/bulk-download">bulk data downloads from DPLA</a>.</p>
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>ID</th>
						<th>S3 Bucket Key</th>
						<th>Status</th>
						<th>Uploaded to S3</th>
						<th>Downloaded to Combine</th>
						<th>ElasticSearch index</th>
						<th>Filepath</th>
					</tr>
				</thead>
				<tbody>
					{% for bd in bulk_downloads %}
						<tr>
							<td>{{bd.id}}</td>
							<td><code>{{bd.s3_key}}</code></td>
							<td>{{bd.get_status_display}}</td>
							<td>{{bd.uploaded_timestamp}}</td>
							<td>{{bd.downloaded_timestamp}}</td>
							<td>{% if bd.es_index %}<a href="http://{{APP_HOST}}:9200/{{bd.es_index}}/_search" target="_blank"><code>{{bd.es_index}}</code></a>{% endif %}</td>
							<td><code>{{bd.filepath}}</code></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<p><a href="{% url 'dpla_bulk_data_download' %}"><button type="button" class="btn btn-success btn-sm">Download and Index Bulk Data</button></a></p>
		</div>
	</div>	

{% endblock %}