{% extends 'core/base.html' %}

{% block content %}

<div class="row">
    <div class="col-md-8">
        <h2>Build ElasticSearch Query</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Query Body</h3>
        <p>Type your query into the textbox below:</p>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <textarea id="es_query_payload" class="form-control" rows="15"></textarea>
                </div>
            </div>
        </div>

        <button class="btn btn-success btn-sm" id="test_query">Test Query</button>
    </div>
</div>

{% endblock %}
