{% load static %}
{% block content %}
{% load core_template_filters %}

	<div class="row">
		<div class="col-md-12">

			<p>Records may be exported in a variety of ways, <a href="https://combine.readthedocs.io/en/master/workflow.html#export">see documentation for more information</a>:
				<ul>
					<li><strong>Documents (XML)</strong>: XML documents for each Record, as harvested and/or transformed.</li>
					<li><strong>Mapped Fields (JSON)</strong>: Mapped fields as line-delimited JSON rows.  <em>Recommended for mapped field export</em>.</li>
					<li><strong>Mapped Fields (CSV)</strong>: Mapped fields as a tabular, .csv file.</li>									
				</ul>
			</p>

			<div class="alert alert-info alert-dismissible fade show" role="alert">
				Select a tab below to export Records as <strong>full XML Documents</strong>, <strong>Mapped Fields as JSON</strong>, or <strong>Mapped Fields as CSV</strong>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			
			<ul id="export_tabs" class="nav nav-tabs">
				<li class="nav-item">
					<a class="nav-link active" data-toggle="tab" href="#export_documents">Export Documents</a>
				</li>								
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#export_mapped_fields">Export Mapped Fields</a>
				</li>
			</ul>

			<div class="tab-content">

				<div id="export_documents" class="tab-pane full_width_tab active">
					<div class="row">
						<div class="col-md-6">
							<!-- form for Job mapped fields export -->

							{% if cjob %}
								<form method="POST" action="{% url 'export_documents' export_source='job' job_id=cjob.job.id %}">
							{% else %}
								<form method="POST" action="{% url 'export_documents' export_source='published' %}">
							{% endif %}

								{% csrf_token %}

								<div class="form-group">
									<label for="records_per_file">XML Records per file</label>
									<input type="text" class="form-control" name="records_per_file" id="records_per_file" placeholder="e.g. 500 (default)">
									<small id="records_per_file_help" class="form-text text-muted">Optional</small>
								</div>

								<div class="form-group">
									<label for="archive_type">Select archive file type</label>
									<select class="form-control" id="archive_type" name="archive_type" required>
										<option value="zip">Compressed Zip file</option>
										<option value="targz">Compressed Tar file</option>
										<option value="tar">Uncompressed Tar file</option>
									</select>
								</div>

								<button type="submit" class="btn btn-success btn-sm">Export Documents <i class="la la-download"></i></button>

							</form>
						</div>
					</div>
				</div>

				<div id="export_mapped_fields" class="tab-pane full_width_tab">
					<div class="row">
						<div class="col-md-12">											

							<!-- form for Job mapped fields export -->

							{% if cjob %}
								<form id="export_mapped_fields_form" method="POST" action="{% url 'export_mapped_fields' export_source='job' job_id=cjob.job.id %}">
							{% else %}
								<form id="export_mapped_fields_form" method="POST" action="{% url 'export_mapped_fields' export_source='published' %}">
							{% endif %}

								{% csrf_token %}

								<!-- json or csv -->
								<div style="width:50%;">
									<div class="form-group">
										<label for="mapped_fields_export_type">Select export format:</label>
										<select class="form-control" id="mapped_fields_export_type" name="mapped_fields_export_type" required>
											<option value="json">JSON (line-delimited, recommended)</option>
											<option value="csv">CSV (tabular, comma seperated) </option>
										</select>
										<small id="mapped_fields_export_type" class="form-text text-muted"><strong>Note:</strong> Mapped fields exported as .csv are more prone to messy data due to column delimiters and newline characters that may exist within field values.  Exporting Mapped Fields as JSON handles this more deftly, and is recommended.</small>
									</div>
								</div>

								<div id="kibana_checkbox" style="display:none;">
									<div class="form-group">
										<div class="form-check">
											<input class="form-check-input" type="checkbox" value="true" id="kibana_style" name="kibana_style"/>
											<label class="form-check-label" for="kibana_style">
												Export CSV "Kibana style"? <button type="button" class="btn btn-outline-info btn-sm" onclick="$('#kibana_style_info').fadeToggle();">More Information</button>
											</label>
										</div>
										<div id="kibana_style_info" class="bg-light" style="padding:20px; border-radius:5px; display: none;">
											<p>"Kibana style" is referring to the <a href="https://www.elastic.co/products/kibana">Kibana application</a> for visualize and analyzing ElasticSearch indexes, and addresses fields that have <strong>multiple values</strong>.</p>

											<p>For example, consider an ElasticSearch field called <code>mods_subject_topic</code>, with multiple values of <code>history</code>, <code>boating</code>, and <code>typing</code>.  If Kibana style is <strong>not</strong> checked/used -- which is the default behavior -- this would result in three distinct columns in the generated .csv file with a number affixed to the field name: <code>mods_subject_topic.0</code> with the value <code>historyM</code>, <code>mods_subject_topic.1</code> with the value <code>boating</code>, and <code>mods_subject_topic.2</code> with the value <code>typing</code>.  This can handy for analysis, as distinct values for this field are in distinct columns.</p>

											<p>But some pipelines are prepared for fields that are comman separated when repeating, e.g. Kibana.  If checked, the result would be a <strong>single</strong> field called <code>mods_subject_topic</code> and a single, comma separated value of <code>history,boating,typing</code>.</p>
										</div>
									</div>												
								</div>
								<script>
									// listener for CSV select
									$('#mapped_fields_export_type').on('change', function() {
										if (this.value == 'csv') {
											$('#kibana_checkbox').show();
										}
										else {
											$('#kibana_checkbox').hide();
										}
									})
								</script>

								<div style="width:50%;">
									<div class="form-group">
										<label for="archive_type">Select archive file type</label>
										<select class="form-control" id="archive_type" name="archive_type" required>
											<option value="none">Uncompressed</option>
											<option value="zip">Compressed Zip file</option>
											<option value="targz">Compressed Tar file</option>
										</select>
									</div>
								</div>

								<p>By default, <strong>all</strong> mapped fields are included in the report, but you may optionally select a smaller subset of fields to export by clicking the button below.</p>
								
								<!-- select mapped fields -->
								{% include 'core/select_mapped_fields.html' %}

								<button id="form_submit_button" type="button" class="btn btn-success btn-sm">Export Mapped Fields <i class="la la-download"></i></button>

								<script>

									$(document).ready(function() {

										// init datatables
									    mapped_field_export_select_table = $('#select_mapped_fields').DataTable({
									    	"pageLength": 10,
									    	"lengthMenu": [ 10, 25, 100, 500 ]
									    });

									    // listener for checkboxes
									    $("#select_all_fields").click(function(){
										    cells = mapped_field_export_select_table.cells().nodes();
										    $(cells).find(':checkbox').prop("checked", !$(cells).find(':checkbox').prop("checked"));
									    });

										// submit form via javascript
									    /*
									    Because the input checkboxes for a DataTable are dynamic, Django's normal method of .getlist() does not
									    work, as it cannot capture checkboxes not currently rendered on the page.  This workaround writes
									    temporary hidden inputs to the form before submit, clearing any pre-existing before submit as well.
									    
									    Django picks up the form name "mapped_field_include", not "mapped_field_include_dynamic" from the actual
									    DataTable.
									    */
									    $("#form_submit_button").click(function(){									    	

									    	// remove any pre-existing temp, hidden inputs
									    	$("#hidden_field_inputs input").each(function(){
									    		$(this).remove();
									    	});

									    	// write all field checkboxes as temporary, hidden inputs
									    	cells = mapped_field_export_select_table.cells().nodes();
									    	checkboxes = $(cells).find(':checked');
									    	checkboxes.each(function(){
									    		console.log(this);
									    		$("#hidden_field_inputs").append("<input class='hidden_input' type='hidden' name='mapped_field_include' value='"+$(this).attr('value')+"'/>")
									    	});

									    	// submit form
									    	$("#export_mapped_fields_form").submit();

									    });
								    });

								</script>

							</form>

						</div>
					</div>
				</div>

			</div>

		</div>
	</div>

{% endblock %}