{% block content %}
{% load core_template_filters %}

	<div class="row">
		<div class="col-md-12">
			<div class="gray_box">
				
				<div class="form-group">
					<label for="field_mapper">Configuration Name</label>
					<select class="form-control" id="field_mapper" name="field_mapper">
						{% if orig_fm_config_json %}
							<option value="job_fm_config_json">Configuration used for Job: {{cjob.job.name}}</option>
						{% endif %}
						<option value="default">Default</option>
						{% for fm in field_mappers %}
							<option value='{{ fm.id }}'>{{ fm.name }}</option>
						{% endfor %}					
					</select>
				</div>

				<div class="form-group">
					<label for="fm_config_json">Configuration JSON</label>					
					<textarea class="code_style form-control" rows=18 name="fm_config_json" id="fm_config_json" placeholder="">{% if orig_fm_config_json %}{{ orig_fm_config_json }}{% else %}{{ default_fm_config|safe }}{% endif %}</textarea>					
					<small id="fm_config_json" class="form-text text-muted">Edit this JSON configuration for on-the-fly changes</small>
				</div>

			</div>
		</div>
	</div>

	<script>

		{% if orig_fm_config_json %}
			orig_fm_config_json = {{ orig_fm_config_json|safe }};
		{% endif %}

		// store default
		default_fm_config = {{ default_fm_config|safe }};

		// load saved field mapper configs
		$(document).ready(function(){
			$("#field_mapper").change(function(){

				if (this.value != 'default' && this.value != 'job_fm_config_json' ){

					// get payload
					$.ajax({
						type: "GET",
						url: "/combine/configuration/field_mapper/FM_ID/payload".replace('FM_ID', this.value),
						dataType:'json',
						success: function(data){
							$("#fm_config_json").val(JSON.stringify(data, null, 2));
						}			
					});	
				}

				else if (this.value == 'job_fm_config_json'){

					// load job's fm_config_json
					$("#fm_config_json").val(JSON.stringify(orig_fm_config_json, null, 2));

				}

				else {

					// load default
					$("#fm_config_json").val(JSON.stringify(default_fm_config, null, 2));
					
				}

			})
		});

	</script>

{% endblock %}