{% extends 'core/base.html' %}

{% block content %}

	<div class="row">
		<div class="col-md-12">
			<h3>Field Analysis: <code>{{ field_name }}</code></h3>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<h4>Metrics</h4>

			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>Documents with Field</th>
						<th>Documents without</th>
						<th>Count of Total Values for Field</th>
						<th>Count of Distinct Values for Field</th>
						<th>Percentage of Field Values that are Unique</th>
						<th>Percentage of Documents with Field</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="bg_light_green"><a href="{% url 'field_analysis_docs' es_index=esi.es_index filter_type='exists' %}?field_name={{ field_name }}&exists=true">{{ field_metrics.metrics.doc_instances }}</a></td>
						<td class="bg_light_red"><a href="{% url 'field_analysis_docs' es_index=esi.es_index filter_type='exists' %}?field_name={{ field_name }}&exists=false">{{ field_metrics.metrics.doc_missing }}</a></td>
						<td>{{ field_metrics.metrics.val_instances }}</td>
						<td>{{ field_metrics.metrics.distinct }}</td>

						<td>
							<div class="percentage_div" style="{% if field_metrics.metrics.distinct_ratio >= 0.5 %}padding:2px;{% endif %} width:{% if field_metrics.metrics.distinct_ratio > 0 %}{% widthratio field_metrics.metrics.distinct_ratio 1 100 %}{% else %}0{% endif %}%">
								<span>{% widthratio field_metrics.metrics.distinct_ratio 1 100 %}%</span>
							</div>
						</td>

						<td>
							<div class="percentage_div" style="{% if field_metrics.metrics.percentage_of_total_records >= 0.5 %}padding:2px;{% endif %} width:{% if field_metrics.metrics.percentage_of_total_records > 0 %}{% widthratio field_metrics.metrics.percentage_of_total_records 1 100 %}{% else %}0{% endif %}%">
								<span>{% widthratio field_metrics.metrics.percentage_of_total_records 1 100 %}%</span>
							</div>
						</td>
						
					</tr>
				</tbody>

			</table>

		</div>

		<!-- Indexed Fields Analysis Explanation -->
		{% include 'core/field_analysis_explanation.html' %}

	</div>

	<div class="row">
		<div class="col-md-12">
			<h4>Values</h4>

			<p>The following table shows all values for the field <code>{{ field_name }}</code> across all documents for this job's ElasticSearch index, with a count for how many times that value occurs.</p>

			<div id="terms_limit_alert" style="display:none; text-align:center;">
				<div class="alert alert-danger fade show" role="alert">
					Results have been limited to top <strong>10,000</strong>, but <strong>sorting</strong> and <strong>searching</strong> will still reveal results not currently shown through pagination
					</button>
				</div>
			</div>
			
			<table id='dt_field_analysis' class="table table-bordered table-hover">
				<thead>
					<th>Field Value</th>
					<th>Count</th>
					<th>Actions</th>
				</thead>
				<tbody></tbody>
			</table>

			<script>

				$(document).ready(function() {
				    var oTable = $('#dt_field_analysis').DataTable({
				        "processing": true,
				        "serverSide": true,
				        "ajax": "{% url 'records_es_field_dt_json' es_index=esi.es_index search_type='values_per_field' %}?field_names={{ field_name }}",
				        "searchDelay": 1000,
				        "pageLength": 10,
				        "order": [[ 1, "desc" ]],
				        "columns": [
				            { 
				            	title: "Field Value",
				            	"render": function ( data, type, row ) {
				                    if (data.indexOf('http') !== -1) {
				                    	return "<a target='_blank' href='"+data+"'>"+data+"</a>";
				                    }
				                    else {
				                    	return data;
				                    }
				                }
			            	},
				            { 
				            	title: "Count"		            	
				            },
				            {
				            	title: "Actions",
				            	"render": function (data, type, row) {

				            		// get search term
				            		search_term = row[0]

				            		// encode search term with encodeURI
				            		search_term = encodeURIComponent(search_term);

				            		// manually search term escapes
				            		escapes = [
				            			[/;/g, '%3B'], // semicolons
				            			[/"/g, '%22'], // double quote
				            			[/'/g, "%27"], // single quote
				            			[/ /g, "%20"], // space
				            		];
				            		for (var i = escapes.length - 1; i >= 0; i--) {
				            			search_term = search_term.replace(escapes[i][0], escapes[i][1]);
				            		};

				            		return "<a href='{% url 'field_analysis_docs' es_index=esi.es_index filter_type='equals' %}?field_name={{ field_name }}&matches=true&value="+search_term+"'>Records with value</a> / <a href='{% url 'field_analysis_docs' es_index=esi.es_index filter_type='equals' %}?field_name={{ field_name }}&matches=false&value="+search_term+"'>Records without</a>";
				            	}								
				            }
				        ],
				        initComplete: function(settings, json) {	
							terms_alert_toggle();
						},
						drawCallback: function(settings, json) {	
							terms_alert_toggle();
						},
				    });

				});

				// function to display alert about results
				function terms_alert_toggle(){

					// get table
					var table = $('#dt_field_analysis').DataTable();
					var count = table.page.info().recordsTotal;

					// if 10k results returned, inform user truncated
					if (count >= 10000){
						$("#terms_limit_alert").show();
					}
					else {
						$("#terms_limit_alert").hide();	
					}
				}

			</script>

		</div>
	</div>


{% endblock %}