{% extends 'core/base.html' %}

{% block content %}

	<h3>Field Analysis: {{ field_name }}</h3>

	<h4>Field values</h4>
	<ul>
		{% for value in field_analysis_results %}
			{% if 'http://' in value.key or 'https://' in value.key %}		
				<li><a href="{{ value.key }}" target="_blank">{{ value.key }}</a> <a href='http://{{ APP_HOST }}:9200/j{{ cjob.job.id }}/_search?q={{ field_name }}:"{{ value.key }}"' target="_blank">({{ value.doc_count }})</a></li>
			{% else %}
				<li>{{ value.key }} <a href='http://{{ APP_HOST }}:9200/j{{ cjob.job.id }}/_search?q={{ field_name }}:"{{ value.key }}"' target="_blank">({{ value.doc_count }})</a></li>
			{% endif %}
		{% endfor %}
	</ul>

{% endblock %}