{% extends 'core/base.html' %}

{% block content %}

    <div class="row">
        <div class="col-md-12">

            <h3>Field Analysis: <code>{{ field_name }}</code></h3>

            <!-- one of four possible scenarios
                1) Records where field exists (exists)
                2) Records where field does not exist (exists)
                3) Records where field == value (equals)
                4) Records where field != value (equals)
            -->

            <div class="row">
                <div class="col-md-12">
                    <!-- field existence -->
                    {% if filter_type == 'exists' %}
                        {% if analysis_scenario.exists == "true" %}
                            <p class="bg_light_green" style="margin-bottom:0px; padding:20px; border-radius:10px;">
                                Showing records where field <code>{{ field_name }}</code> <span
                                    class="font-weight-bold">exists</span></p>
                        {% elif analysis_scenario.exists == "false" %}
                            <p class="bg_light_red" style="margin-bottom:0px; padding:20px; border-radius:10px;">Showing
                                records where field <code>{{ field_name }}</code> <span class="font-weight-bold">does not exist</span>
                            </p>
                        {% endif %}
                    {% endif %}

                    <!-- field value equals -->
                    {% if filter_type == 'equals' %}
                        {% if analysis_scenario.matches == "true" %}
                            <p class="bg_light_green" style="margin-bottom:0px; padding:20px; border-radius:10px;">
                                Showing records where <code>{{ field_name }}</code> <span class="font-weight-bold">matches or includes</span>
                                <code>"{{ analysis_scenario.value }}"</code></p>
                        {% elif analysis_scenario.matches == "false" %}
                            <p class="bg_light_red" style="margin-bottom:0px; padding:20px; border-radius:10px;">Showing
                                records where <code>{{ field_name }}</code> <span class="font-weight-bold">does not match or does not include</span>
                                <code>"{{ analysis_scenario.value }}"</code></p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>

            <!-- DataTable of Fields per ES document -->
            <table id='datatables_es_records' class="table table-bordered table-hover">
                <thead>
                <th>DB ID</th>
                <th>Combine ID</th>
                <th>Record ID</th>
                <th><code>{{ field_name }}</code> Value</th>
                </thead>
                <tbody></tbody>
            </table>


            <script>
                // prepare list of fields
                var fields = {{ esi.get_index_fields|safe }};

                // prepare fields list as GET repeating parameters
                fields_get_params = '';
                for (var i = fields.length - 1; i >= 0; i--) {
                    fields_get_params += ('field_names=' + fields[i] + '&');
                }
                ;

                $(document).ready(function () {
                    es_query = "{% url 'records_es_field_dt_json' es_index=esi.es_index_str search_type='fields_per_doc' %}?{{ dt_get_params_string|safe }}";
                    es_query = es_query.replace(/&#39;/g, "'");
                    var oTable = $('#datatables_es_records').dataTable({
                        "processing": true,
                        "serverSide": true,
                        "ajax": es_query,
                        "searchDelay": 1000,
                        "pageLength": 10,
                        "order": [[1, "desc"]],
                        "columns": [
                            {
                                title: "DB ID",
                                "render": function (data, type, row) {
                                    return "<a href='/combine/organization/" + row[0] + "/record_group/" + row[1] + "/job/" + row[2] + "/record/" + row[3] + "'>" + row[3] + "</a>";
                                }
                            },
                            {
                                title: "Combine ID",
                                "render": function (data, type, row) {
                                    return "<a href='/combine/organization/" + row[0] + "/record_group/" + row[1] + "/job/" + row[2] + "/record/" + row[3] + "'>" + row[4] + "</a>";
                                }
                            },
                            {
                                title: "Record ID",
                                "render": function (data, type, row) {
                                    return "<a href='/combine/organization/" + row[0] + "/record_group/" + row[1] + "/job/" + row[2] + "/record/" + row[3] + "'>" + row[5] + "</a>";
                                }
                            },
                            {
                                title: "<code>{{ field_name }}</code> Value",
                                "render": function (data, type, row) {
                                    if (!row[6]) {
                                        return "<span style='color:red;'>None</span>";
                                    } else {
                                        return row[6];
                                    }
                                }

                            }
                        ],
                    });
                });
            </script>

        </div>
    </div>

{% endblock %}
