{% block content %}
{% load core_template_filters %}

	<div class="row">
		<div class="col-md-12">
			<div style="padding:20px; border-radius:10px; background-color:#ede7ff;">

				<p><strong>Select Index Mapping</strong></p>
				<p>When new records are created in Combine, through Harvest, Transform, Merging, or Publishing, they are also indexed in ElasticSearch for search and analysis.  Using the dropdown below, select a pre-configured scenario for mapping your metadata records to ElasticSearch fields.</p>
				
				<div class="form-group">
					<select class="form-control" id="index_mapper" name="index_mapper" required>
						{% for im in index_mappers %}
							<option value='{{ im.classname }}'>{{ im.name }}</option>
						{% endfor %}					
					</select>
				</div>

			</div>
		</div>
	</div>

{% endblock %}