{% block content %}

	<div style="margin-top:10px; width:35%; padding:20px; border-radius:10px; background-color:#ede7ff;">
		<p><strong>Select Index Mapping</strong></p>
		<p>When new records are created in Combine, through Harvest, Transform, Merging, or Publishing, they are also indexed in ElasticSearch for search and analysis.  Using the dropdown below, select a pre-configured scenario for mapping your metadata records to ElasticSearch fields.</p>
		<select name='index_mapper'>		
			<option value='GenericMapper'>Generic mapper for indexing</option>
			<option value='MODSMapper'>MODS mapper</option>
		</select>
	</div>

{% endblock %}