{% block content %}
<div class="row" {% if analysis_type == 'published' %}style="display:none;"{% endif %}>
	<div class="col-md-12">		
		<div id="job_family_diagram_container">
			<div id="job_family_diagram"></div>
			<script type="text/javascript">

				// parse job lineage json
				job_lineage = JSON.parse('{{ job_lineage_json|safe }}');

				// if analyzing published, show only published nodes
				{% if analysis_type == 'published' %}
					for (var i = job_lineage.nodes.length - 1; i >= 0; i--) {
						node = job_lineage.nodes[i];
						if (node.job_type != 'PublishJob'){
							job_lineage.nodes.splice(i,1);
						}
					}
				{% endif %}

				// style edges and init
				$(job_lineage.edges).each(function(){
					styleNetworkEdges(this);
				});
				var edges = new vis.DataSet(job_lineage.edges);

				// style nodes and init
				$(job_lineage.nodes).each(function(){
					styleNetworkNodes(this);						
				});
				var nodes = new vis.DataSet(job_lineage.nodes);

				// create a network
				var container = document.getElementById('job_family_diagram');
				var data = {
					nodes: nodes,
					edges: edges
				};
				var options = {					
					clickToUse:false,
					interaction:{
						zoomView:false,
						multiselect: false,
						navigationButtons: true,
					},
						layout:{
						hierarchical: {
							enabled:true,
							levelSeparation: 600,
							nodeSpacing: 100,
							treeSpacing: 100,
							blockShifting: true,
							edgeMinimization: true,
							parentCentralization: true,
							direction: 'LR',        // UD, DU, LR, RL
							sortMethod: 'directed'   // hubsize, directed
						}
					}			  	
				};

				// fire network
				var network = new vis.Network(container, data, options);

				// fit all nodes in viewport
				network.fit();

				// set listener for node select
				network.on('selectNode', function (node){

					// fire ajax to get job lineage for selected job
					base_url = "{%url 'job_lineage_json' org_id='DYNAMIC_ORG_ID' record_group_id='DYNAMIC_RG_ID' job_id='DYNAMIC_ID' %}";
					
					// get node
					node_data = nodes.get(node.nodes[0])					
					
					// update URL
					base_url = base_url.replace('DYNAMIC_ID', node_data.id);
					base_url = base_url.replace('DYNAMIC_ID', node_data.record_group_id);
					base_url = base_url.replace('DYNAMIC_ID', node_data.org_id);

					// get datatables api
					jobs_table_api = $("#jobs_table").dataTable();

					$.ajax({
						type: 'POST',
						url: base_url,
						dataType:'json',
						data: {							
							'csrfmiddlewaretoken': '{{ csrf_token }}'
						},
						success: function(data){

							// loop through nodes
							nodes.forEach(function(node){

								// gray out nodes
								if (!data.job_id_list.includes(node.id)){

									gray_out_node(node);

									// update datatables row color
									// find row that matches id
									row_query = jobs_table_api.fnFindCellRowIndexes(node.id, 1);									

									// if row query has hit, remove (empty list will gray out first row)
									if (row_query.length > 0){
										// select row									
										table_row = jobs_table.row(row_query[0]).node();							
										$(table_row).children('td').each(function(){
											
											// gray out <td>s
											$(this).addClass('grayed_dt_row');

											// loop through input jobs and gray out
											$(this).children('div').each(function() {
												$(this).addClass('grayed_dt_row');
											})
										})	
									}

								}

							});
						}			
					});
					
				});

				// set listener for node deselect
				network.on('deselectNode', function (node){

					// reset table
					jobs_table.column(0).search('').draw();

					// reset node colors
					restyle_nodes_and_edges();

					// remove all grayed_out_dt classes
					$(".grayed_dt_row").removeClass('grayed_dt_row');

				});

				function restyle_nodes_and_edges(){
					// reset node colors
					nodes.forEach(function(node){														
						restyle_node(node);
					});					
				}

				function restyle_node(node){
					// restyle node
					styleNetworkNodes(node);
					nodes.update(node);

					// restyle edges
					node_edges = getEdgesOfNode(node.id)									
					node_edges.forEach(function(edge){							
						styleNetworkEdges(edge);
						edges.update(edge);
					})
				}

				function gray_out_node(node){
					// update network node colors
					node.color = '#efefef';
					nodes.update(node);

					// gray out all edges to this node									
					node_edges = getEdgesOfNode(node.id)									
					node_edges.forEach(function(edge){										
						edge.color.color = '#efefef';
						edge.font.color = '#efefef';
						edges.update(edge);
					})
				}

				// update lineage graph
				function update_lineage_on_filter(){

					// get current row ids after filtering
					crows = jobs_table.rows({filter:'applied'});
					
					// loop through current rows and get job id
					job_ids = [];
					crows[0].forEach(function(row){
						job_ids.push(parseInt(jobs_table.cell(row, 1).data()));
					})

					// loop through nodes and gray out if NOT in list					
					nodes.forEach(function(node){
						// gray out nodes
						if (!job_ids.includes(node.id)){
							gray_out_node(node);
						}
						else {
							restyle_node(node);
						}
					});

				}

			</script>	
			
		</div>
	</div>
</div>
{% endblock %}