{% block content %}	

	<!-- optional job lineage network node graph -->
	{% include 'core/job_lineage_network.html' %}

	<div class="row" {% if analysis_type == 'published' %}style="display:none;"{% endif %}>
		<div class="col-md-12">			
			<table id="jobs_table" class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>Select</th>
						<th>Job ID</th>
						<th>Name</th>
						<th>Organization</th>
						<th>Record Group</th>
						<th>Job Type</th>
						<th>Status</th>
						<th>Finished</th>
						<th>Is Valid</th>
						<th>Timestamp</th>
						<th>Input</th>
						<th>Notes</th>
						<th>Record Count</th>						
					</tr>
				</thead>				
				<tbody>
				{% for job in input_jobs %}
					<tr class="{{ job.job_type_family }} {% if job.deleted %}deleted{% endif %}">
						<td class="{{ job.job_type_family }} {% if job.deleted %}deleted{% endif %}"><input type="checkbox" name="input_job_id" value="{{ job.id }}" /><button style="margin-left:10px;" type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#exampleModal" data-input_job_id="{{ job.id }}" data-input_job_name="{{ job.name }}"><i class="la la-filter"></i></button></td>
						<td class="{{ job.job_type_family }} {% if job.deleted %}deleted{% endif %}">{{ job.id }}</td>
						<td class="{{ job.job_type_family }} {% if job.deleted %}deleted{% endif %}">{{ job.name }}</td>
						<td class="{{ job.job_type_family }} {% if job.deleted %}deleted{% endif %}">{{ job.record_group.organization.name }}</td>
						<td class="{{ job.job_type_family }} {% if job.deleted %}deleted{% endif %}">{{ job.record_group.name }}</td>
						<td class="{{ job.job_type_family }} {% if job.deleted %}deleted{% endif %}">{{ job.job_type_family }}</td>
						<td class="{{ job.job_type_family }} {% if job.deleted %}deleted{% endif %}">{{ job.status }}</td>
						<td class="{{ job.job_type_family }} {% if job.deleted %}deleted{% endif %}">{{ job.finished }}</td>
						<td class="{{ job.job_type_family }} {% if job.deleted %}deleted{% endif %}">{{ job.validation_results.verdict }}</td>
						<td class="{{ job.job_type_family }} {% if job.deleted %}deleted{% endif %}">{{ job.timestamp }}</td>
						{% if job.jobinput_set.all|length > 0 %}
						<td class="{{ job.job_type_family }} {% if job.deleted %}deleted{% endif %}">

							<button style="cursor:pointer;" onclick="$($(this).siblings()[0]).toggle(); return false;" type="button" class="btn btn-outline-info btn-sm">Show Input Jobs</button>

							<div id="input_jobs_column" style="margin-top:10px; display:none;">
								{% for input_job in job.jobinput_set.all %}
									<div class="{{ input_job.input_job.job_type_family }}" style="padding:10px; clear:both; border: 1px dotted black; margin-bottom:2px;">
										<a href="{% url 'job_details' org_id=input_job.input_job.record_group.organization.id record_group_id=input_job.input_job.record_group.id job_id=input_job.input_job.id %}">{{ input_job.input_job }}</a>
									</div>
								{% endfor %}
							</div>

						</td>
					{% else %}
						<td class="{{ job.job_type_family }} {% if job.deleted %}deleted{% endif %}">None</td>
					{% endif %}						
						<td class="{{ job.job_type_family }} {% if job.deleted %}deleted{% endif %}">{{ job.note }}</td>						
						<td class="{{ job.job_type_family }} {% if job.deleted %}deleted{% endif %}">{{ job.record_count }}</td>
					</tr>
				{% endfor %}
				</tbody>
				<tfoot>
					<tr>
						<th></th>
						<th></th>
						<th></th>
						<th>Organization</th>
						<th>Record Group</th>
						<th>Job Type</th>
						<th>Status</th>
						<th>Finished</th>
						<th>Valid</th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>						
					</tr>
				</tfoot>
			</table>
			<script>

				$(document).ready(function() {
				    jobs_table = $('#jobs_table').DataTable({
				    	pageLength: 100,
				    	lengthMenu: [ 10, 25, 100, 500 ],
				    	createdRow: function( row, data, dataIndex){
		                    $('td', row).addClass(data[4]);
		                    if (data[8] == 'False'){                    	
		                    	$('td:nth-child(9)', row).addClass('invalid_job');
		                    }
			            },
			            paging: false, // likely not too many jobs, sidesteps problem with paged checkboxes
			            initComplete: function () {
				            this.api().columns([3,4,5,6,7,8]).every( function () {
				                var column = this;
				                var select = $('<select><option value="">All</option></select>')
				                    .appendTo( $(column.footer()).empty() )
				                    .on( 'change', function () {
				                        var val = $.fn.dataTable.util.escapeRegex($(this).val());				 
				                        column.search( val ? '^'+val+'$' : '', true, false ).draw();
				                    } );
				 
				                column.data().unique().sort().each( function ( d, j ) {

				                	{# handle analysis of published records differently #}
				                	{% if analysis_type == 'published' %}
					                	if (d == 'PublishJob'){
					                		select.append( '<option selected value="'+d+'">'+d+'</option>' )
					                		column.search( 'PublishJob' ? '^PublishJob$' : '', true, false ).draw();
					                	}
					                	else {
					                		select.append( '<option value="'+d+'">'+d+'</option>' )	
					                	}
				                	{% else %}
				                		select.append( '<option value="'+d+'">'+d+'</option>' )	
				                	{% endif %}
				                    
				                });
				            } );
				        }
				    });

				    // fire when table redrawn
				    jobs_table.on( 'draw', function () {
					    update_lineage_on_filter();
					} );

				    // special case behavior for selectin publish jobs only
					{% if analysis_type == 'published' %}
						update_lineage_on_filter();
						$("#jobs_table input").prop('checked', true);
					{% endif %}

				} );

			</script>
		</div>
	</div>


	<!-- modals -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg combine_modal_lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>

	      <div class="modal-body">
	        <div class="row">
				<div class="col-md-12">
					<div class="alert alert-warning alert-dismissible fade show" role="alert">
						<span id="job_spec_name"></span>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="gray_box">				

						<div class="row">
							<div class="col-md-12">
								<h5>Refine by Record Validity</h5>
								<p>Filter Records based on Validation Results:</p>
								
								<div class="form-check">
									<input class="form-check-input" type="radio" name="input_validity_valve" id="all" value="all" checked>
									<label class="form-check-label" for="all">
									<span class="text-warning">All records</span>
									</label>
								</div>

								<div class="form-check">
									<input class="form-check-input" type="radio" name="input_validity_valve" id="valid" value="valid">
									<label class="form-check-label" for="valid">
									<span class="text-success">Passed validation</span>
									</label>
								</div>

								<div class="form-check">
									<input class="form-check-input" type="radio" name="input_validity_valve" id="invalid" value="invalid">
									<label class="form-check-label" for="invalid">
									<span class="text-danger">Failed validation</span>
									</label>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<h5>Limit Number of Records</h5>
								<p>Numerically limit Records from each input Job:</p>

								<div style="width:50%" class="form-group">							
									<input type="text" class="form-control" id="input_numerical_valve" name="input_numerical_valve" placeholder="e.g. 1000"/>
								</div>						
								
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<h5>Filter Duplicates</h5>
								<p>Remove duplicates based on Record Identifier (<code>record_id</code>):</p>

								<div class="form-check">
									<input class="form-check-input" type="radio" name="filter_dupe_record_ids" id="filter_dupes_yes" value="true" checked>
									<label class="form-check-label" for="filter_dupes_yes">
									<span>Yes</span>
									</label>
								</div>

								<div class="form-check">
									<input class="form-check-input" type="radio" name="filter_dupe_record_ids" id="filter_dupes_no" value="false">
									<label class="form-check-label" for="filter_dupes_no">
									<span>No</span>
									</label>
								</div>					
								
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<h5>Refine by Mapped Fields</h5>
								<p>Filter Records by providing an <a href="https://www.elastic.co/guide/en/elasticsearch/reference/5.5/query-dsl.html">ElasticSearch query</a> that will search against <a href="http://combine.readthedocs.io/en/master/analysis.html#analyzing-indexed-fields">mapped fields</a> from input Jobs:</p>
								<div class="form-group">
									<label for="job_spec_input_es_query_valve">ElasticSearch Query DSL</label>

									<textarea style="display:none;" rows=10 class="code_style form-control" id="job_spec_input_es_query_valve" name="job_spec_input_es_query_valve" placeholder='e.g. {"query":{"match":{"mods_subject_topic":"Scaffolding"}}}'></textarea>

									<!-- visible JSON editor -->
									<div id="job_spec_es_query_json" style="height:450px;"></div>
									
									<script>
								        // create the editor
								        var container = document.getElementById("job_spec_es_query_json");
								        var options = {
								        	mode: 'code',
					    					modes: ['code', 'text', 'tree'],
					    					onChange: function(){
					    						// update hidden textarea from editor contents
					    						$("#input_es_query_valve").val(JSON.stringify(es_query_editor.get()));
					    					},
					    					sortObjectKeys: true,
					    					name: 'elasticsearch_query',
					    					// schema: {{xml2kvp_handle.schema|safe}},			    					
								        };
								        var es_query_editor = new JSONEditor(container, options);

								        // // set json to editor
								        // es_query_editor.set();

								        // // update textarea
								        // $("#input_es_query_valve").val(JSON.stringify(es_query_editor.get()));
								    </script>

								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
	      </div>

	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
	        <button type="button" class="btn btn-primary">Set Job Specific Input Filters</button>
	      </div>

	    </div>
	  </div>
	</div>

	<script>

	$('#exampleModal').on('show.bs.modal', function (event) {

		var button = $(event.relatedTarget) // Button that triggered the modal

		var input_job_id = button.data('input_job_id') // Extract info from data-* attributes
		var input_job_name = button.data('input_job_name') // Extract info from data-* attributes
		// If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
		// Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
		var modal = $(this)
		modal.find('.modal-title').text('Set Job Specific Record Input Filters');
		modal.find('.modal-body input').val(input_job_id);
		modal.find('#job_spec_name').html('Use the form below to set <strong>Record Input Filters</strong> for Input Job: <strong>' +  input_job_name + '</strong>');
	})

	</script>


{% endblock %}