{% extends 'core/base.html' %}

{% block content %}

	<h3>Publish Record Group: {{ record_group.name }}</h3>

	<form method="POST" action="{% url 'job_publish' org_id=record_group.organization.id record_group_id=record_group.id %}">

		{% csrf_token %}

		<p><strong>Job Name (optional):</strong>
			<input type="text" name="job_name" size=120 placeholder="e.g. 'Fedora Records Publish'"/>
		<p>

		<p><strong>Set OAI set identifier to use for publishing:</strong>
			
			<p>Select an OAI set used from other published sets:
				<select name="existing_publish_set_id">
					<option value=''></option>
					{% for publish_set_id in publish_set_ids %}
						<option value="{{ publish_set_id.publish_set_id }}">{{ publish_set_id.publish_set_id }}</option>						
					{% endfor %}
				</select>
			</p>
			<p>Or enter a new one: <input type="text" name="new_publish_set_id" size=40 placeholder="e.g. 'fedora_records'"/>
			</p>
		</p>

		<!-- optional job note -->
		{% include 'core/job_note.html' %}

		<p>Select job to publish for this Record Group:</p>
		<!-- Job Select -->
		{% include 'core/job_input_select.html' %}

		<p>
			<input type="submit" value="Publish"/>
		</p>

	</form>

{% endblock %}