{% extends 'core/base.html' %}

{% block content %}

	<div class="row">
		<div class="col-md-12">			
			<h3>New Job: <span class="font-weight-bold">Analysis</span></h3>

			<p>Run a new analysis job based on previously run jobs.</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<form method="POST" action="{% url 'job_analysis' %}">

				{% csrf_token %}

				<div class="row">
					<div class="col-md-6">
						<!-- optional job details -->
						{% include 'core/job_optional_details.html' %}
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<!-- Job Select -->
						{% include 'core/job_input_select.html' %}
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">

						<!-- Indexing Mapping Selection -->
						{% include 'core/index_mapping_select.html' %}

						<!-- Record Validation Selection -->
						{% include 'core/record_validation_select.html' %}

						<!-- Record Identifier Transformation -->
						<!-- {% include 'core/record_identifier_transform.html' %} -->

					</div>
				</div>

				<button type="submit" class="btn btn-primary btn-sm">Run Job</button>

			</form>
		</div>
	</div>

{% endblock %}