{% extends 'core/base.html' %}

{% block content %}

	<h3>Transform Job for Record Group: {{ record_group.name }}</h3>

	<form method="POST" action="{% url 'job_transform' record_group_id=record_group.id %}">

		{% csrf_token %}

		<!-- Job Select -->
		{% include 'core/job_input_select.html' %}

		<p>Select Transformation Scenario to use:
			<select name="transformation_id">
				<option value="">Select a Transformation...</option>
				{% for transformation in transformations %}
					<option value="{{ transformation.id }}">{{ transformation.name }} / {{ transformation.transformation_type }}</option>	
				{% endfor %}
			</select>
		<p>
		
		<p>
			<input type="submit" value="Transform"/>
		</p>

	</form>

{% endblock %}