<div id="job_family_diagram_container">
	<div id="job_family_diagram"></div>
	<script type="text/javascript">

		// parse job lineage json
		job_lineage = JSON.parse('{{ job_lineage_json|safe }}');

		// style nodes
		$(job_lineage.nodes).each(function(){
			styleNetworkNodes(this);						
		});

		// style edges
		$(job_lineage.edges).each(function(){
			styleNetworkEdges(this);
		});

		// init as viz data
		var nodes = new vis.DataSet(job_lineage.nodes);
		var edges = new vis.DataSet(job_lineage.edges);

		// create a network
		var container = document.getElementById('job_family_diagram');
		var data = {
			nodes: nodes,
			edges: edges
		};
		var options = {					
			clickToUse:false,
			interaction:{
				zoomView:false,
				multiselect: false,
				navigationButtons: true,
			},
				layout:{
				hierarchical: {
					enabled:true,
					levelSeparation: 600,
					nodeSpacing: 100,
					treeSpacing: 100,
					blockShifting: true,
					edgeMinimization: true,
					parentCentralization: true,
					direction: 'LR',        // UD, DU, LR, RL
					sortMethod: 'directed'   // hubsize, directed
				}
			}			  	
		};

		// fire network
		var network = new vis.Network(container, data, options);

		// fit all nodes in viewport
		network.fit();

		// set listener for node select
		network.on('selectNode', function (node){

			// fire ajax to get job lineage for selected job
			base_url = "{%url 'job_lineage_json' org_id='DYNAMIC_ORG_ID' record_group_id='DYNAMIC_RG_ID' job_id='DYNAMIC_ID' %}";
			
			// get node
			node_data = nodes.get(node.nodes[0])
			
			// update URL
			base_url = base_url.replace('DYNAMIC_ID', node_data.id);
			base_url = base_url.replace('DYNAMIC_ID', node_data.record_group_id);
			base_url = base_url.replace('DYNAMIC_ID', node_data.org_id);

			// get datatables api
			jobs_table_api = $("#jobs_table").dataTable();

			$.ajax({
				type: 'POST',
				url: base_url,
				dataType:'json',
				data: {							
					'csrfmiddlewaretoken': '{{ csrf_token }}'
				},
				success: function(data){

					// loop through nodes
					nodes.forEach(function(node){

						if (!data.job_id_list.includes(node.id)){

							// update network node colors
							node.color = '#efefef';
							nodes.update(node);

							// update datatables row color
							// find row that matches id
							row_query = jobs_table_api.fnFindCellRowIndexes(node.id, 0);

							// if row query has hit, remove (empty list will gray out first row)
							if (row_query.length > 0){
								// select row									
								table_row = jobs_table.row(row_query[0]).node();							
								$(table_row).children('td').each(function(){
									
									// gray out <td>s
									$(this).addClass('grayed_dt_row');

									// loop through input jobs and gray out
									$(this).children('div').each(function() {
										$(this).addClass('grayed_dt_row');
									})
								})	
							}
						}
					});
				}			
			});
			
		});

		// set listener for node deselect
		network.on('deselectNode', function (node){

			// reset table
			jobs_table.column(0).search('').draw();

			// reset node colors
			nodes.forEach(function(node){								
				styleNetworkNodes(node);
				nodes.update(node);
			})

			// remove all grayed_out_dt classes
			$(".grayed_dt_row").removeClass('grayed_dt_row');

		});

	</script>	
	
</div>