{% extends 'core/base.html' %}

{% block content %}

	<div class="row">
		<div class="col-md-12">
			<h3>New Job: <span class="font-weight-bold">Duplicate / Merge</span></h3>

			<p>This allows the duplication of a single job, or merging of multiple jobs into a single job.

			<p><button type="button" class="btn btn-outline-info btn-sm" onclick="$('#why_merge').fadeToggle();">Why Duplicate / Merge?</button></p>

			<div id="why_merge" style="margin-top:10px; padding:20px; border-radius:10px; background-color:#EFEFEC; display:none;">
				<p><strong>Why Duplicate a Job?</strong>
					<ul>
						<li>By duplicating a job from another Record Group, this effectively copies a job from another Record Group to your current one.  This might be helpful for publishing a job under a different OAI set.</li>
						<li>When duplicating a job, a user may run different validations and/or use a different mapper for ElasticSearch.</li>
					</ul>
				</p>
				<p><strong>Why Merge Jobs?</strong>
					<ul>
						<li>In the even an ad hoc harvest of records occurs, perhaps for a small subset or a static harvest, this would allow merging those records with a larger group of records for analysis and publishing.</li>
					</ul>
				</p>
			</div>

		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<form method="POST" action="{% url 'job_merge' org_id=record_group.organization.id record_group_id=record_group.id %}">

				{% csrf_token %}

				<div class="row">
					<div class="col-md-12">
						<!-- optional job details -->
						{% include 'core/job_optional_details.html' %}
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						{% if input_job_scope == None %}
							<div class="alert alert-info alert-dismissible fade show" role="alert">
								Showing Jobs from <span class="font-weight-bold">Record Group only</span>.  <a href="{% url 'job_merge' org_id=record_group.organization.id record_group_id=record_group.id %}?scope=all_jobs">Click here to show Jobs from <span class="font-weight-bold">all Record Groups</span>.</a>
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
								</button>
							</div>
						{% else %}
							<div class="alert alert-info alert-dismissible fade show" role="alert">
								Showing Jobs from <span class="font-weight-bold">All Record Groups</span>.  <a href="{% url 'job_merge' org_id=record_group.organization.id record_group_id=record_group.id %}">Click here to show Jobs from <span class="font-weight-bold">this Record Group only</span>.</a>
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
								</button>
							</div>
						{% endif %}
						<div class="alert alert-danger alert-dismissible fade show" role="alert">
							For a <strong>Merge/Duplicate</strong> Job, at <strong>least one</strong> input Job is required, and <strong>multiple</strong> are allowed.  Select from the table below.
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<!-- Job Select -->
						{% include 'core/job_input_select.html' %}
					</div>
				</div>

				<!-- Optional Job Processing -->
				{% include 'core/job_optional_processing.html' %}

				<button type="submit" class="btn btn-success btn-sm">Run Duplicate / Merge Job <i class="la la-plus"></i></button>

			</form>
		</div>
	</div>

{% endblock %}