{% extends 'core/base.html' %}

{% block content %}

	<h3>Publish Job for Record Group: {{ record_group.name }}</h3>

	<form method="POST" action="{% url 'job_publish' record_group_id=record_group.id %}">

		{% csrf_token %}

		<p>Publish Name (optional):
			<input type="text" name="job_name" size=120 placeholder="e.g. Fedora Publish, 10/10/2017"/>
		<p>

		<!-- Job Select -->
		{% include 'core/job_input_select.html' %}

		<p>
			<input type="submit" value="Publish"/>
		</p>

	</form>

{% endblock %}