{% extends 'core/base.html' %}

{% block content %}

	<div class="row">
		<div class="col-md-12">
			<h3>New Job: <span class="font-weight-bold">Transform Document</span></h3>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<form id="job_init_form" method="POST" action="{% url 'job_transform' org_id=record_group.organization.id record_group_id=record_group.id %}">

				{% csrf_token %}
	
				<div class="row">
					<div class="col-md-12">
						<!-- optional job details -->
						{% include 'core/job_optional_details.html' %}
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						{% if input_job_scope == None %}
							<div class="alert alert-info alert-dismissible fade show" role="alert">
								Showing Jobs from <span class="font-weight-bold">Record Group only</span>.  <a href="{% url 'job_transform' org_id=record_group.organization.id record_group_id=record_group.id %}?scope=all_jobs">Click here to show Jobs from <span class="font-weight-bold">all Record Groups</span>.</a>
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
								</button>
							</div>
						{% else %}
							<div class="alert alert-info alert-dismissible fade show" role="alert">
								Showing Jobs from <span class="font-weight-bold">All Record Groups</span>.  <a href="{% url 'job_transform' org_id=record_group.organization.id record_group_id=record_group.id %}">Click here to show Jobs from <span class="font-weight-bold">this Record Group only</span>.</a>
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
								</button>
							</div>
						{% endif %}
						<div class="alert alert-danger alert-dismissible fade show" role="alert">
							<strong>Transform</strong> Jobs require a single, or multiple, <strong>input Job(s)</strong>.  Select from the table below.
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<!-- Job Select -->
						{% include 'core/job_input_select.html' %}
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="alert alert-danger alert-dismissible fade show" role="alert">
							The following are <strong>required</strong> parameters for this Job
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="form-group">
							<label for="transformation_id">Select Transformation Scenario to use</label>
							<select class="form-control" id="transformation_id" name="transformation_id" required>
								{% for transformation in transformations %}
									<option value="{{ transformation.id }}">{{ transformation.name }} ({{ transformation.transformation_type }})</option>	
								{% endfor %}						
							</select>
						</div>
					</div>
				</div>

				<!-- Optional Job Processing -->
				{% include 'core/job_optional_processing.html' %}
				
				<button type="submit" class="btn btn-success btn-sm">Run Transform Job <i class="la la-play"></i></button>

			</form>

			<!-- Modals -->
			{% include 'core/job_spec_input_filters.html' %}
			
		</div>
	</div>

{% endblock %}