{% extends 'core/base.html' %}

{% block content %}

	{% if update_type %}
	
		<div class="row">
			<div class="col-md-12">
					<h3>Update Job: <span class="font-weight-bold {{ cjob.job.job_type_family }} {% if cjob.job.deleted %}deleted{% endif %}">{{ cjob.job.name }}</span></h3>
			</div>
		</div>

		<!-- Re-Map and Index -->
		{% if update_type == 'reindex' %}

			<div class="row">
				<div class="col-md-12">
					<h4>Re-Map and Re-Index Records</h4>					
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					
					<p>Select and configure Field Mapping configurations below:</p>

					<form method="POST" action="{% url 'job_update' org_id=cjob.job.record_group.organization.id record_group_id=cjob.job.record_group.id job_id=cjob.job.id %}">

						{% csrf_token %}

						<div id="index_mapping_tab" style="margin-top:20px; margin-bottom:20px; margin-left:0px;">
							{# Field Mapper Selection #}
							{% include 'core/field_mapper_select.html' %}
						</div>

						<!-- submit job update form -->
						<input type="hidden" name="update_type" value="reindex" />
						<button type="submit" class="btn btn-success btn-sm">Re-Map and Index Records for this Job</button>

					</form>

				</div>
			</div>

		{% elif update_type == 'validations' %}

			<div class="row">
				<div class="col-md-12">
					<h4>Run new Validations</h4>					
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<p>Run new or additional Validations for this Job using the form below:</p>

					<form method="POST" action="{% url 'job_update' org_id=cjob.job.record_group.organization.id record_group_id=cjob.job.record_group.id job_id=cjob.job.id %}">

						{% csrf_token %}

						<div id="validation_tests_tab" style="margin-top:20px; margin-bottom:20px; margin-left:0px;">
							{# Record Validation Selection #}
							{% include 'core/record_validation_select.html' %}
						</div>

						<!-- submit job update form -->
						<input type="hidden" name="update_type" value="validations" />
						<button type="submit" class="btn btn-success btn-sm">Run new Validations for this Job</button>

					</form>

				</div>
			</div>

		{% endif %}

	{% else %}

		<div class="row">
			<div class="col-md-12">
				<h3>Update Job</h3>
				<p>Jobs may be "updated" in the following ways:
					<ul class="list-inline">
						<li style="display:inline;"><a href="{% url 'job_update' org_id=cjob.job.record_group.organization.id record_group_id=cjob.job.record_group.id job_id=cjob.job.id %}?update_type=reindex"><button type="button" class="btn btn-success btn-sm">Re-Map and Index Metadata</button></a></li>
						<li style="display:inline;"><a href="{% url 'job_update' org_id=cjob.job.record_group.organization.id record_group_id=cjob.job.record_group.id job_id=cjob.job.id %}?update_type=rerun_validations"><button type="button" class="btn btn-success btn-sm">Run New Validations</button></a></li>
					</ul>
				</p>
			</div>
		</div>

	{% endif %}

{% endblock %}