{% block content %}

	<div class="row">
		<div class="col-md-8">
			<div class="alert alert-warning alert-dismissible fade show" role="alert">
				The following tabs provide additional, <strong>optional</strong> parameters for this Job</strong>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">

			<ul class="nav nav-tabs">
				{% if input_jobs %}
					<li class="nav-item">
						<a class="nav-link active" data-toggle="tab" href="#record_input_filter">Record Input Filter</a>
					</li>
				{% endif %}
				<li class="nav-item">
					<a class="nav-link {% if not input_jobs %}active{% endif %}" data-toggle="tab" href="#field_mapping_config">Field Mapping Configuration</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#validation_tests_tab">Validation Tests</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#identifier_transform_tab">Transform Identifier</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#bulk_download_check">DPLA Bulk Data Compare</a>
				</li>
			</ul>

			<div class="tab-content">

				{% if input_jobs %}
					<div id="record_input_filter" class="tab-pane container active" style="margin-top:20px; margin-bottom:20px; margin-left:0px;">
						{# Input Record Filter #}
						{% include 'core/record_input_filter_select.html' %}
					</div>
				{% endif %}

				<div id="validation_tests_tab" class="tab-pane container" style="margin-top:20px; margin-bottom:20px; margin-left:0px;">
					{# Record Validation Selection #}
					{% include 'core/record_validation_select.html' %}
				</div>

				<div id="bulk_download_check" class="tab-pane container" style="margin-top:20px; margin-bottom:20px; margin-left:0px;">
					{# Bulk Data Download Comparison #}
					{% include 'core/bulk_download_compare_select.html' %}
				</div>

				<div id="field_mapping_config" class="tab-pane container {% if not input_jobs %}active{% endif %}" style="margin-top:20px; margin-bottom:20px; margin-left:0px;">
					{# Field Mapper Selection #}
					{% include 'core/field_mapper_select.html' %}
				</div>

				<div id="identifier_transform_tab" class="tab-pane container" style="margin-top:20px; margin-bottom:20px; margin-left:0px;">
					{# Record Identifier Transformation #}
					{% include 'core/record_identifier_transform.html' %}
				</div>

			</div>

		</div>
	</div>

{% endblock %}