{% extends 'core/base.html' %}

{% block content %}

	<div class="row">
		<div class="col-md-12">
			<h3>Publish Record Group: {{ record_group.name }}</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">

			<form method="POST" action="{% url 'job_publish' org_id=record_group.organization.id record_group_id=record_group.id %}">

				{% csrf_token %}

				<div class="row">
					<div class="col-md-6">
						<!-- optional job details -->
						{% include 'core/job_optional_details.html' %}
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">

						<p>The next step is to assign a Publish Set ID for this Record Group.  This will translate to an OAI set for the outbound Combine OAI-PMH server.  You have the option of reusing a pre-existing one from the dropdown, effectively including Records from this Job in that OAI set, or creating and establishing a new one.</p>
						
						<div class="form-group">
							<label for="existing_publish_set_id">Select a pre-existing Published Set ID</label>
							<select class="form-control" id="existing_publish_set_id" name="existing_publish_set_id">
								<option value='Select pre-existing Publish Set ID to use...'></option>
								{% for publish_set_id in publish_set_ids %}
									<option value="{{ publish_set_id.publish_set_id }}">{{ publish_set_id.publish_set_id }}</option>						
								{% endfor %}					
							</select>
						</div>
							
						<div class="form-group">
							<label for="new_publish_set_id">Or, create a new one</label>
							<input type="text" class="form-control" id="new_publish_set_id" name="new_publish_set_id" placeholder="e.g. 'fedora_records'">
						</div>

					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<!-- Job Select -->
						{% include 'core/job_input_select.html' %}
					</div>
				</div>

				<button type="submit" class="btn btn-primary btn-sm">Run Job</button>

			</form>
		
		</div>
	</div>

{% endblock %}