{% extends 'core/base.html' %}

{% block content %}
{% load core_template_filters %}

<h2>Create validation results report</h2>
<p><strong>Job:</strong> {{ cjob.job.name }}</p>
<p>Using the options below, select the parameters to generate a report with all validation failures for this job.</p>

<div style="width:80%; padding:20px; background-color:#efefef; border-radius:10px;">
	<form id="report_form" method="POST" action="{% url 'job_reports_create_validation' org_id=cjob.job.record_group.organization.id record_group_id=cjob.job.record_group.id job_id=cjob.job.id %}">

		{% csrf_token %}

		<p><strong>Report filename (optional):</strong></p>
			<p><em>Note: file extension not needed, and avoid spaces or special characters where possible</em></p>
		<p>	
			<input type="text" name="report_name" size=120 placeholder="e.g. fedora_records_transformed"/>
		<p>

		<p>Select output format for report:
			<ul>
				<li><strong>Comma seperated file (.csv)</strong> - Fast report generation, large filesize</li>
				<li><strong>Excel spreadsheet (.xlsx)</strong> - Considerably slower report generation, much smaller filesize</li>
		</p>		
		<p>
			<select name='report_format'>
				<option value='csv'>comma separated (.csv)</option>
				<option value='excel'>Excel spreadsheet (.xslx)</option>
			</select>
		</p>

		{% if cjob.job.jobvalidation_set.count > 0 %}
			<div>
				<p><strong>Select validation scenarios run for this job to include in report:</strong></p>
				<table border="1" cellpadding="5" style="background-color:white;">
					<tr>
						<th>Validation Name</th>
						<th>Validation Type</th>
						<th>Record Validation Failure Count</th>
						<th>Select</th>
					<tr>
					{% for jv in cjob.job.jobvalidation_set.all %}			
						<tr>
							<td>{{ jv.validation_scenario.name }}</td>
							<td>{{ jv.validation_scenario.validation_type }}</td>
							<td style="{% if jv.validation_failure_count > 0 %}background-color: #ff9898;{% else %}background-color: #cbffcb;{% endif %}">{{ jv.validation_failure_count }}</td>
							<td><input type="checkbox" name="validation_scenario" checked value="{{ jv.validation_scenario.id }}"/></td>
						</tr>
					{% endfor %}
				</table>
			</div>
		{% endif %}

		<p><strong>Select mapped fields to include in report (optional - <a href="#" onclick="$('#mapped_fields').fadeToggle(); return false;">show/hide fields</a>):</strong></p>
		<div id="mapped_fields">
			<p><button onclick="return false;" id="select_all_fields">Select all fields</button></p>
			<table id="index_analysis" border="1">
				<thead>
					<tr>
						<th>Field Name</th>
						{% if cjob %}
							<th>DPLA Mapped Field</th>						
						{% endif %}
						<th>Documents with Field (of total {{ field_counts.total_docs }})</th>
						<th>Documents without</th>
						<th>Count of Total Values for Field</th>
						<th>Count of Distinct Values for Field</th>
						<th>Percentage of Field Values that are Unique</th>
						<th>Instance of Field in Total Indexed Records</th>
						<th>Include in Report</th>
					</tr>
				</thead>
				<tbody>
					{% for field in field_counts.fields %}
						<tr>
							<td {% if field.one_distinct_per_doc %}style="background-color:yellow;"{% endif %}><a href="{% url 'field_analysis' es_index=cjob.esi.es_index %}?field_name={{ field.field_name }}" target="_blank">{{ field.field_name }}</a></td>

							{% if cjob %}

								<!-- show mapped DPLA field if exists -->
								{% if cjob.job.dpla_mapping %}
									{% if field.field_name in cjob.job.dpla_mapping.inverted_mapped_fields.keys %}
										<td style="background-color:#cbdafb;">{{ cjob.job.dpla_mapping.inverted_mapped_fields|get_dict_value:field.field_name }}</td>
									{% else %}
										<td></td>
									{% endif %}
								{% else %}
									<td></td>
								{% endif %}

							{% endif %}

							<td><a target="_blank" href="{% url 'field_analysis_docs' es_index=cjob.esi.es_index filter_type='exists' %}?field_name={{ field.field_name }}&exists=true">{{ field.doc_instances }}</a></td>
							<td><a target="_blank" href="{% url 'field_analysis_docs' es_index=cjob.esi.es_index filter_type='exists' %}?field_name={{ field.field_name }}&exists=false">{{ field.doc_missing }}</a></td>
							<td>{{ field.val_instances }}</td>
							<td>{{ field.distinct }}</td>
							<td style="background-color:rgba(0,200,0,{{ field.distinct_ratio }});">{{ field.distinct_ratio }}</td>
							<td style="background-color:rgba(0,200,0,{{ field.percentage_of_total_records }});">{{ field.percentage_of_total_records }}</td>
							<td><input type="checkbox" name="mapped_field_include_dynamic" value="{{ field.field_name }}"/></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<div id="hidden_field_inputs"></div>
		</div>

		<p>
			<button id="form_submit_button">Generate report</button>
		</p>

		<script>
			$(document).ready(function() {
			    
			    // init datatables
			    var table = $('#index_analysis').DataTable({
			    	"pageLength": 10,
			    	"lengthMenu": [ 10, 25, 100, 500 ]
			    });

			    // listener for checkboxes
			    $("#select_all_fields").click(function(){			    	
				    cells = table.cells().nodes();
				    $(cells).find(':checkbox').prop('checked', true);	
			    });

			    // submit form via javascript
			    /*
			    Because the input checkboxes for a DataTable are dynamic, Django's normal method of .getlist() does not
			    work, as it cannot capture checkboxes not currently rendered on the page.  This workaround writes
			    temporary hidden inputs to the form before submit, clearing any pre-existing before submit as well.
			    
			    Django picks up the form name "mapped_field_include", not "mapped_field_include_dynamic" from the actual
			    DataTable.
			    */
			    $("#form_submit_button").click(function(){

			    	// remove any pre-existing temp, hidden inputs
			    	$("#hidden_field_inputs input").each(function(){
			    		$(this).remove();
			    	});

			    	// write all field checkboxes as temporary, hidden inputs
			    	cells = table.cells().nodes();
			    	checkboxes = $(cells).find(':checked');
			    	checkboxes.each(function(){
			    		console.log(this);
			    		$("#hidden_field_inputs").append("<input class='hidden_input' type='hidden' name='mapped_field_include' value='"+$(this).attr('value')+"'/>")
			    	});

			    	// submit form
			    	$("#report_form").submit();

			    });

			});
		</script>

	</form>
</div>

{% endblock %}