{% block content %}

	<p>Select Job as Input:
		<div>
			<table border="1" cellpadding="5">
				<tr>
					<th>Associated Record Group</th>
					<th>Job ID</th>
					<th>Name</th>
					<th>Status</th>
					<th>Finished</th>
					<th>Input</th>
					<th>Output</th>
					<th>Record Count</th>
					<th>Select</th>
				</tr>
				{% for job in jobs %}
					<tr class="{{ job.job_type }}">
						<td><a href="{% url 'record_group' record_group_id=job.record_group.id %}">{{ job.record_group.name }}</a></td>
						<td>{{ job.id }}</td>
						<td>{{ job.name }}</td>
						<td>{{ job.status }}</td>
						<td>{{ job.finished }}</td>
						<td>{% for input_job in job.jobinput_set.all %}<a href="{{ input_job.input_job }}">{{ input_job.input_job }}</a>{% endfor %}</td>
						{% if 'hdfs://' in job.job_output %}
							<td><a href="http://{{ APP_HOST }}:50070/explorer.html#/user/combine/record_group/{{ record_group.id }}/jobs/harvest/{{ job.id }}" target="_blank">{{ job.job_output }}</a></td>
						{% else %}
							<td>{{ job.job_output }}</td>
						{% endif %}
						<td>{{ job.record_count }}</td>
						{% if job_select_type == 'single' %}
							<td><input type="radio" name="input_job_id" value="{{ job.id }}"></td>
						{% else %}
							<td><input type="checkbox" name="input_job_id" value="{{ job.id }}"></td>
						{% endif %}
					</tr>
				{% endfor %}
			</table>
		</div>
	</p>

{% endblock %}