{% extends 'core/base.html' %}

{% block content %}

	<h3>Job Errors: {{ cjob.job.name }}</h3>

	<ul>
		<li><strong>Total Errors:</strong> {{ job_errors.error.count }}</li>
	</ul>

	<table border="1" cellpadding="5">
		<tr>
			<th>id</th>
			<th>error</th>
		</tr>
		{% for error in job_errors %}
			<tr>
				<td><a href="{% url 'record' org_id=error.job.record_group.organization.id record_group_id=error.job.record_group.id job_id=error.job.id record_id=error.id %}">{{ error.record_id }}</a></td>
				<td>{{ error.error }}</td>
			</tr>
		{% endfor %}
	</table>

{% endblock %}