{% block content %}

	<div class="row">
		<div class="col-md-6">						

			<!-- Indexing Mapping Selection -->
			{% include 'core/index_mapping_select.html' %}

			<!-- Record Validation Selection -->
			{% include 'core/record_validation_select.html' %}

		</div>
		<div class="col-md-6">

			<!-- Record Identifier Transformation -->
			{% include 'core/record_identifier_transform.html' %}

			{% if input_jobs %}
				<!-- Input Job Valid Record Valve -->
				{% include 'core/record_valid_valve_select.html' %}
			{% endif %}
			
		</div>
	</div>

{% endblock %}