{% block content %}

	<!-- Job Name -->
	<div class="form-group">
		<label for="job_name">Name</label>
		<input type="text" class="form-control" name="job_name" id="job_name" placeholder="My Job Name">
		<small id="job_name_help" class="form-text text-muted">Optional</small>
	</div>

	<!-- Job Notes -->
	<div class="form-group">
		<label for="job_note">Notes</label>
		<input type="text" class="form-control" name="job_note" id="job_note" placeholder="This job is particularly notable and/or interesting because...">
		<small id="job_note_help" class="form-text text-muted">Optional</small>
	</div>

{% endblock %}