{% load static %}
{% block content %}

<div class="row">
	<div class="col-md-12">
	{% csrf_token %}
		<table id="jobs_table" class="table table-bordered table-hover">
			<thead>
				<tr>
					<th></th>
					<th>Job ID</th>
					<th>Timestamp</th>
					<th>Name</th>
					{# Jinja logic for including RecordGroups #}
					{% if not for_analysis %}
						<th>Record Group</th>
					{% endif %}
					<th>Job Type</th>
					<th>Status</th>
					<th>Finished</th>
					<th>Is Valid</th>
					<th>Elapsed</th>
					<th>Input</th>
					<th>Notes</th>
					<th>Total Record Count</th>
					<th>Monitor</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
			{% for job in jobs %}
				<tr class="{{ job.job_type_family }} {% if job.deleted %}deleted{% endif %}">
					<td class="{{ job.job_type_family }} {% if job.deleted %}deleted{% endif %}">{% if job.job_type != 'PublishJob' %}<input class="job_id_sel" type="checkbox" value="{{ job.id }}" name="job_id">{% endif %}</td>
					<td class="{{ job.job_type_family }} {% if job.deleted %}deleted{% endif %}">{{ job.id }}</td>
					<td class="{{ job.job_type_family }} {% if job.deleted %}deleted{% endif %}">{{ job.timestamp }}</td>
					<td class="{{ job.job_type_family }} {% if job.deleted %}deleted{% endif %}">
						<a href="{% url 'job_details' org_id=job.record_group.organization.id record_group_id=job.record_group.id job_id=job.id %}">{{ job.name }}</a> <a href="#" onclick="$('#job_name_{{ job.id }}').fadeToggle(); return false;"><img src="{% static 'core/img/pencil.png' %}" height=10 /></a>
						<div id="job_name_{{ job.id }}" style="display:none; margin-top:10px; padding:10px; border-radius:10px; background-color:pink;">
							<form method="POST" action="{% url 'job_update_name' org_id=job.record_group.organization.id record_group_id=job.record_group.id job_id=job.id %}">
								{% csrf_token %}
								<div class="form-group">
									<label for="job_name">Enter new job name</label>
									<input class="form-control" type="text" id="job_name" name="job_name" size=40 placeholder="e.g. 'New Job Name'"/>
								</div>								
								<button type="submit" class="btn btn-primary btn-sm">Update</button>
							</form>
						</div>
					</td>
					{# Jinja logic for including RecordGroups #}
					{% if not for_analysis %}
						<td class="{{ job.job_type_family }} {% if job.deleted %}deleted{% endif %}"><a href="{% url 'record_group' org_id=job.record_group.organization.id record_group_id=job.record_group.id %}">{{ job.record_group.name }}</a></a></td>
					{% endif %}
					<td class="{{ job.job_type_family }} {% if job.deleted %}deleted{% endif %}">{{ job.job_type_family }}</td>
					<td class="{{ job.job_type_family }} {% if job.deleted %}deleted{% endif %}"><strong>{{ job.status }}</strong></td>
					<td class="{{ job.job_type_family }} {% if job.deleted %}deleted{% endif %}">{{ job.finished }}</td>
					<td class="{{ job.job_type_family }} {% if job.deleted %}deleted{% endif %}">{{ job.validation_results.verdict }}</td>
					<td class="{{ job.job_type_family }} {% if job.deleted %}deleted{% endif %}">{{ job.elapsed_as_string }}<br><em>{{ job.calc_records_per_second }} r/s</em></td>
					
					{% if job.jobinput_set.all|length > 0 %}
						<td class="{{ job.job_type_family }} {% if job.deleted %}deleted{% endif %}">{% for input_job in job.jobinput_set.all %}
							<div class="{{ input_job.input_job.job_type_family }}" style="padding:10px; clear:both; border: 1px dotted black; margin-bottom:2px;">
								<a href="{% url 'job_details' org_id=input_job.input_job.record_group.organization.id record_group_id=input_job.input_job.record_group.id job_id=input_job.input_job.id %}">{{ input_job.input_job }}</a>
							</div>
							{% endfor %}
						</td>
					{% else %}
						<td class="{{ job.job_type_family }} {% if job.deleted %}deleted{% endif %}">None</td>
					{% endif %}
					<td class="{{ job.job_type_family }} {% if job.deleted %}deleted{% endif %}">
						{{ job.note }} <a href="#" onclick="$('#job_notes_{{ job.id }}').fadeToggle(); return false;"><img src="{% static 'core/img/pencil.png' %}" height=10 /></a>
						<div id="job_notes_{{ job.id }}" style="display:none; background-color:pink; width:250px; padding:10px; border-radius:10px;">
							<form method="POST" action="{% url 'job_update_note' org_id=job.record_group.organization.id record_group_id=job.record_group.id job_id=job.id %}">
								{% csrf_token %}
								<div class="form-group">						
									<textarea class="form-control" name="job_note" id="job_notes" rows="3" placeholder="Enter Job notes here...">{% if job.note %}{{ job.note }}{% endif %}</textarea>
								</div>
								<input type="hidden" name="job_id" value="{{ cjob.job.id }}">
								<input type="hidden" name="next" value="{{ request.path }}">
								<button type="submit" class="btn btn-primary btn-sm">Update</button>
							</form>
						</div>
					</td>
					<td class="{{ job.job_type_family }} {% if job.deleted %}deleted{% endif %}">{{ job.record_count }}</td>
					<td class="{{ job.job_type_family }} {% if job.deleted %}deleted{% endif %}"><a href="http://{{ APP_HOST }}:8998{{ job.url }}" target="_blank">Livy</a> / <a href="http://{{ APP_HOST }}:4040" target="_blank">Spark</a></td> 
					<td class="{{ job.job_type_family }} {% if job.deleted %}deleted{% endif %}"><a href="{% url 'job_details' org_id=job.record_group.organization.id record_group_id=job.record_group.id job_id=job.id %}"><button type="button" class="btn btn-outline-info btn-sm">Details</button></a></td>				
				</tr>
			{% endfor %}
			</tbody>
		</table>
	
		<script>
			$(document).ready(function() {
			    jobs_table = $('#jobs_table').DataTable({
			    	"order": [[ 1, "asc" ]],
			    	"pageLength": 100,
			    	"lengthMenu": [ 10, 25, 100, 500 ],
			    	{# Jinja logic for including RecordGroups #}
			    	{% if not for_analysis %}
				    	"createdRow": function( row, data, dataIndex){

		                    // show job valid
		                    if (data[8] == 'False'){
		                    	$('td:nth-child(9)', row).addClass('invalid_job');
		                    }
			            }           
					{% else %}
						"createdRow": function( row, data, dataIndex){

		                    // show job valid
		                    if (data[7] == 'False'){                    	
		                    	$('td:nth-child(8)', row).addClass('invalid_job');
		                    }
			            }
		            {% endif %}
			    });
			} );
		</script>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<button type="button" class="btn btn-danger btn-sm" onclick="delete_jobs(); return false;">Delete Selected Jobs</button>
	</div>

	<script>

	// handle bulk job deletion
	function delete_jobs(){

		confirmation = confirm('Are you sure you want to delete the selected Jobs?');

		if (confirmation){

			// get values for job_ids
			job_ids = [];
			$(".job_id_sel:checkbox:checked").each(function(i){
				job_ids.push($(this).val());
			});			

			// submit job ids via ajax
			$.ajax({
				type: "POST",
				url: "{% url 'delete_jobs' %}",
				data: {
					'job_ids':job_ids,
					'csrfmiddlewaretoken': '{{ csrf_token }}'
				},
				dataType:'json',
				success: function(data){
					console.log(data);
					if (data.results == true) {
						location.reload();
					}
					else {
						console.log(data);
					}
				}
			});	
		}
	}

	</script>

</div>
{% endblock %}









