{% load static %}
{% block content %}

<div class="row">
	<div class="col-md-12">
	{% csrf_token %}
		<table id="jobs_table" class="table table-bordered table-hover">
			<thead>
				<tr>
					<th></th>
					<th>Job ID</th>
					<th>Last Updated</th>
					<th>Name</th>
					{# Jinja logic for including Organization and RecordGroups #}					
					{% if not for_analysis %}						
						<th>Record Group</th>
						<th>Organization</th>
					{% endif %}
					<th>Job Type</th>
					<th>Status</th>					
					<th>Is Valid</th>
					<th>Publishing</th>
					<th>Elapsed</th>
					<th>Input</th>
					<th>Notes</th>
					<th>Total Record Count</th>					
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
			{% for job in jobs %}
				<tr class="{{ job.job_type_family }} {% if job.deleted %}deleted{% endif %}">
					<td class="{{ job.job_type_family }} {% if job.deleted %}deleted{% endif %}">{% if job.job_type != 'PublishJob' %}<input class="job_id_sel" type="checkbox" value="{{ job.id }}" name="job_id">{% endif %}</td>
					<td class="{{ job.job_type_family }} {% if job.deleted %}deleted{% endif %}">{{ job.id }}</td>
					<td class="{{ job.job_type_family }} {% if job.deleted %}deleted{% endif %}">{{ job.timestamp }}</td>
					<td class="{{ job.job_type_family }} {% if job.deleted %}deleted{% endif %}">
						<a href="{% url 'job_details' org_id=job.record_group.organization.id record_group_id=job.record_group.id job_id=job.id %}">{{ job.name }}</a> <a href="#" onclick="$('#job_name_{{ job.id }}').fadeToggle(); return false;"><i class="la la-pencil"></i></a>
						<div id="job_name_{{ job.id }}" style="display:none; margin-top:10px; padding:10px; border-radius:10px; background-color:pink;">
							<form method="POST" action="{% url 'job_update_name' org_id=job.record_group.organization.id record_group_id=job.record_group.id job_id=job.id %}">
								{% csrf_token %}
								<div class="form-group" style="min-width: 200px;">
									<label for="job_name">Enter new job name</label>
									<input class="form-control" type="text" id="job_name" name="job_name" size=40 placeholder="e.g. 'New Job Name'"/>
								</div>								
								<button type="submit" class="btn btn-primary btn-sm">Update</button>
							</form>
						</div>
					</td>                    
					{# Jinja logic for including Organization and RecordGroups #}
					{% if not for_analysis %}
						<td class="{{ job.job_type_family }} {% if job.deleted %}deleted{% endif %}"><a href="{% url 'record_group' org_id=job.record_group.organization.id record_group_id=job.record_group.id %}">{{ job.record_group.name }}</a></a></td>
						<td class="{{ job.job_type_family }} {% if job.deleted %}deleted{% endif %}"><a href="{% url 'organization' org_id=job.record_group.organization.id %}">{{ job.record_group.organization.name }}</a></td>				
					{% endif %}
					<td class="{{ job.job_type_family }} {% if job.deleted %}deleted{% endif %}">{{ job.job_type_family }}</td>
					<td class="{{ job.job_type_family }} {% if job.deleted %}deleted{% endif %}">
						{% if job.status in 'init,waiting' %}
						<div class="progress">
							<div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">{{job.status}}</div>
						</div>
						{% elif job.status == 'running' %}
						<div class="progress">
							<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">{{job.status}}</div>
						</div>
						{% elif job.status in 'available,gone' %}
						<div class="progress">
							<div class="progress-bar progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">finished</div>
						</div>
						{% else %}
						{{ job.status }}
						{% endif %}
					</td>					
					<td class="{{ job.job_type_family }} {% if job.deleted %}deleted{% endif %}">{{ job.validation_results.verdict }}</td>
					<td class="{{ job.job_type_family }} {% if job.deleted %}deleted{% endif %}">
						{% if job.published %}
							<a href="{% url 'job_details' org_id=job.record_group.organization.id record_group_id=job.record_group.id job_id=job.id %}#publish_tab"><button type="button" class="btn btn-outline-danger btn-sm">Unpublish <i class="la la-close"></i></button></a>
						{% else %}
							<a href="{% url 'job_details' org_id=job.record_group.organization.id record_group_id=job.record_group.id job_id=job.id %}#publish_tab"><button type="button" class="btn btn-outline-success btn-sm">Publish <i class="la la-bullhorn"></i></button></a>
						{% endif %}
					</td>
					<td class="{{ job.job_type_family }} {% if job.deleted %}deleted{% endif %}">{{ job.elapsed_as_string }}<br><em>{{ job.calc_records_per_second }} r/s</em></td>
					{% if job.jobinput_set.all|length > 0 %}
						<td class="{{ job.job_type_family }} {% if job.deleted %}deleted{% endif %}">

							<button style="cursor:pointer;" onclick="$($(this).siblings()[0]).toggle(); return false;" type="button" class="btn btn-outline-info btn-sm">Input Jobs</button>

							<div id="input_jobs_column" style="margin-top:10px; display:none;">
								{% for input_job in job.jobinput_set.all %}
									<div class="{{ input_job.input_job.job_type_family }}" style="padding:10px; clear:both; border: 1px dotted black; margin-bottom:2px;">
										<a href="{% url 'job_details' org_id=input_job.input_job.record_group.organization.id record_group_id=input_job.input_job.record_group.id job_id=input_job.input_job.id %}">{{ input_job.input_job }}</a>
									</div>
								{% endfor %}
							</div>

						</td>
					{% else %}
						<td class="{{ job.job_type_family }} {% if job.deleted %}deleted{% endif %}">None</td>
					{% endif %}
					<td class="{{ job.job_type_family }} {% if job.deleted %}deleted{% endif %}">
						{{ job.note }} <a href="#" onclick="$('#job_notes_{{ job.id }}').fadeToggle(); return false;"><i class="la la-pencil"></i></a>
						<div id="job_notes_{{ job.id }}" style="display:none; background-color:pink; width:250px; padding:10px; border-radius:10px;">
							<form method="POST" action="{% url 'job_update_note' org_id=job.record_group.organization.id record_group_id=job.record_group.id job_id=job.id %}">
								{% csrf_token %}
								<div class="form-group">						
									<textarea class="form-control" name="job_note" id="job_notes" rows="3" placeholder="Enter Job notes here...">{% if job.note %}{{ job.note }}{% endif %}</textarea>
								</div>
								<input type="hidden" name="job_id" value="{{ cjob.job.id }}">
								<input type="hidden" name="next" value="{{ request.path }}">
								<button type="submit" class="btn btn-primary btn-sm">Update</button>
							</form>
						</div>
					</td>
					<td class="{{ job.job_type_family }} {% if job.deleted %}deleted{% endif %}">{{ job.record_count }}</td>	
					<td class="{{ job.job_type_family }} {% if job.deleted %}deleted{% endif %}">
						<a href="{% url 'job_details' org_id=job.record_group.organization.id record_group_id=job.record_group.id job_id=job.id %}#spark_details_tab"><button type="button" class="btn {% if job.has_spark_failures %}btn-outline-danger{% else %}btn-outline-info{% endif %} btn-sm">{% if job.has_spark_failures %}<strong>Monitor <i class="la la-history"></i></strong>{% else %}Monitor <i class="la la-history"></i>{% endif %}</button></a><br>
						<a href="{% url 'job_details' org_id=job.record_group.organization.id record_group_id=job.record_group.id job_id=job.id %}"><button type="button" class="btn btn-outline-info btn-sm" style="margin-top:5px;">Details <i class="la la-info-circle"></i></button></a>
					</td>				
				</tr>
			{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					{# Jinja logic for including RecordGroups #}
					{% if not for_analysis %}
						<th>Record Group</th>
					{% endif %}
					<th>Job Type</th>
					<th>Status</th>
					<th>Finished</th>
					<th>Is Valid</th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</tfoot>
		</table>
	
		<script>
			$(document).ready(function() {
			    jobs_table = $('#jobs_table').DataTable({
			    	"order": [[ 1, "asc" ]],
			    	"pageLength": 100,
			    	"lengthMenu": [ 10, 25, 100, 500 ],
			    	{# Jinja logic for including RecordGroups #}
			    	{% if not for_analysis %}
				    	"createdRow": function( row, data, dataIndex){

		                    // show job valid
		                    if (data[9] == 'False'){
		                    	$('td:nth-child(10)', row).addClass('invalid_job');
		                    }
			            },
					{% else %}
						"createdRow": function( row, data, dataIndex){

		                    // show job valid
		                    if (data[8] == 'False'){                    	
		                    	$('td:nth-child(9)', row).addClass('invalid_job');
		                    }
			            },
		            {% endif %}
		            initComplete: function () {
		            	{% if not for_analysis %}
		            		filter_cols = [4,5,6,7,8,9];
	            		{% else %}	            			
	            			filter_cols = [4,5,6,7,8];
            			{% endif %}
			            this.api().columns(filter_cols).every( function () {
			                var column = this;			                
			                var select = $('<select><option value="">All</option></select>')
			                    .appendTo( $(column.footer()).empty() )
			                    .on( 'change', function () {			                    	
			                        var val = $.fn.dataTable.util.escapeRegex($(this).val());
			                        column.search( val ? '^'+val+'$' : '', true, false ).draw();
			                    } );
			 
			                column.data().unique().sort().each( function ( d, j ) {
			                	{% if not for_analysis %}
				                	if (column.index() == 4 || column.index() == 5){
				                		d = $(d).html();			                		
				                	}
			                	{% endif %}
			                    select.append( '<option value="'+d+'">'+d+'</option>' )
			                } );
			            } );
			        }
			    });

			    // fire when table redrawn
			    jobs_table.on( 'draw', function () {
				    update_lineage_on_filter();
				} );
				
			} );
		</script>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h4>Job Management</h4>
	</div>
</div>

<div class="row">

	<div class="col-md-12">
		<table class="table table-bordered table-hover">
			<tbody>				
				<tr>
					<th style="width:10%;">Move</th>
					<td>Moves selected Jobs to another Record Group within this Organization</td>
					<td style="width:20%; text-align:left;">
						<div class="form-group">							
							<select class="form-control" id="record_group_id_select" name="record_group_id_select" required>
								<option value=''>Select Record Group...</option>
								{% for record_group in record_groups %}
									<option value="{{ record_group.id }}">{{ record_group.name }}</option>
								{% endfor %} 						
							</select>
						</div>        	
				    	<button type="button" id="move" class="btn btn-success btn-sm" value="move" onclick="move_jobs(); return false;">Move Selected Jobs <i class="la la-arrow-right"></i></button>
					</td>
				</tr>
				<tr>
					<th style="width:10%;">Delete Jobs</th>
					<td>Marks selected Jobs for deletion as background task</td>
					<td style="width:20%; text-align:left;">
						<button type="button" class="btn btn-danger btn-sm" onclick="delete_jobs(); return false;">Delete Selected Jobs <i class="la la-close"></i></button>
					</td>
				</tr>
				<tr>
					<th style="width:10%;">Re-Run</th>
					<td>Re-run Job, and all downstream Jobs</td>
					<td style="width:20%; text-align:left;">
						<button type="button" class="btn btn-danger btn-sm" onclick="rerun_jobs(); return false;">Re-Run Selected Jobs <i class="la la-refresh"></i></button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<script>

        // handle bulk job deletion
		function delete_jobs(){

			confirmation = confirm('Are you sure you want to delete the selected Jobs?');
			if (confirmation){

				// get values for job_ids
				job_ids = [];
				$(".job_id_sel:checkbox:checked").each(function(i){
					job_ids.push($(this).val());
				});                     

				// submit job ids via ajax
				$.ajax({
					type: "POST",
					url: "{% url 'delete_jobs' %}",
					data: {
						'job_ids':job_ids,
						'csrfmiddlewaretoken': '{{ csrf_token }}'
					},
					dataType:'json',
					success: function(data){
						console.log(data);
						if (data.results == true) {
							location.reload();
						}					
					}
				});
			}
		}

		// handle bulk moving of jobs
		function move_jobs(){

			confirmation = confirm('Are you sure you want to move these job(s)?');
			if (confirmation){

				// get values for job_ids
				job_ids = [];
				$(".job_id_sel:checkbox:checked").each(function(i){
					job_ids.push($(this).val());
				});                     

				// get value for record_group_id
				var e = document.getElementById("record_group_id_select");
				var record_group_id = e.options[e.selectedIndex].value;

				// submit job ids via ajax
				$.ajax({
					type: "POST",
					url: "{% url 'move_jobs' %}",
					data: {
						'job_ids':job_ids,
						'record_group_id':record_group_id,
						'csrfmiddlewaretoken': '{{ csrf_token }}'
					},
					dataType:'json',
					success: function(data){					
						if (data.results == true) {
							location.reload();
						}					
					}
				});     
			}
		} 

		// handle bulk job deletion
		function rerun_jobs(){

			confirmation = confirm('Are you sure you want to re-run selected Jobs?  All Records and Validations will be removed for selected Jobs, and all their downstream Jobs.');
			if (confirmation){

				// get values for job_ids
				job_ids = [];
				$(".job_id_sel:checkbox:checked").each(function(i){
					job_ids.push($(this).val());
				});                     

				// submit job ids via ajax
				$.ajax({
					type: "POST",
					url: "{% url 'rerun_jobs' %}",
					data: {
						'job_ids':job_ids,
						'csrfmiddlewaretoken': '{{ csrf_token }}'
					},
					dataType:'json',
					success: function(data){
						console.log(data);
						if (data.results == true) {
							location.reload();
						}					
					}
				});
			}
		}

	</script>

</div>
{% endblock %}









