{% extends 'core/base.html' %}

{% block content %}

	<div class="row">
		<div class="col-md-12">
			<h2>Livy and Spark Sessions</h2>
			<p>Apache Livy is what faciliates communciation between the Combine Django application, and a Spark context for processing Jobs.  Currently, only <span class="font-weight-bold">one</span> Livy session is permitted.</p>			
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">

			{% if not livy_session %}
			<p><a href="{% url 'livy_session_start' %}"><button type="button" class="btn btn-success btn-sm">Start New Livy Session</button></a></p>
			{% else %}
			<table class="table table-bordered table-hover">
				<tr>
					<th>ID</th>
					<th>Active</th>
					<th>Name</th>
					<th>Livy Session ID</th>
					<th>Livy Session GUI</th>
					<th>Status</th>
					<th>Timestamp</th>
					<th>Spark Session GUI</th>
					<th>actions</th>
				</tr>
				<tr>
					<td>{{ livy_session.id }}</td>
					<td>{{ livy_session.active }}</td>
					<td>{{ livy_session.name }}</td>
					<td>{{ livy_session.session_id }}</td>
					<td><a href="http://{{ APP_HOST }}:8998/ui/session/{{ livy_session.session_id }}">http://{{ APP_HOST }}:8998/ui/session/{{ livy_session.session_id }}</a></td>
					<td class="{% if livy_session.status == 'idle' %}bg_light_green{% elif livy_session.status == 'starting' or livy_session.status == 'busy' %}bg_light_yellow{% else %}bg_light_red{% endif %}">{{ livy_session.status }}</td>
					<td>{{ livy_session.timestamp }}</td>
					<td><a href="http://{{ APP_HOST }}:4040">http://{{ APP_HOST }}:4040</a></td>
					<td><a href="{% url 'livy_session_stop' session_id=livy_session.id %}"><button type="button" class="btn btn-danger btn-sm">{% if livy_session.status == 'idle' or livy_session.status == 'busy' or livy_session.status == 'starting' %}Stop{% else %}Remove{% endif %}</button></a></td>
				</tr>
			</table>
			{% endif %}

		</div>
	</div>

{% endblock %}