{% extends 'core/base.html' %}

{% block content %}

	<h3>Record Groups for Organization: {{ org.name }}</h3>

	<div>
		<table border="1" cellpadding="5">
			<tr>
				<th>Record Group ID</th>
				<th>Name</th>
				<th>Description</th>
				<th>Published?</th>
				<th>Created</th>
				<th>Actions</th>
			</tr>
			{% for record_group in record_groups %}
				<tr>
					<td><a href="{% url 'record_group' org_id=record_group.organization.id record_group_id=record_group.id %}">{{ record_group.id }}</a></td>
					<td><a href="{% url 'record_group' org_id=record_group.organization.id record_group_id=record_group.id %}">{{ record_group.name }}</a></td>
					<td>{{ record_group.description }}</td>
					{% if record_group.is_published %}
						<td style="background-color:#def3ff;"><a href="{{ COMBINE_OAI_ENDPOINT }}?verb=ListRecords&set={{ record_group.publish_set_id }}" target="_blank">{{ record_group.publish_set_id }}</a></td>
					{% else %}
						<td><span style="color: red;">Not published</span></td>
					{% endif %}
					<td>{{ record_group.timestamp }}</td>
					<td><a href="{% url 'record_group_delete' org_id=record_group.organization.id record_group_id=record_group.id %}">Delete</a></td>
				</tr>
			{% endfor %}
		</table>
	</div>

	<h4>Create new Record Group</h4>

	<form method="POST" novalidate action="{% url 'record_group_new' org_id=org.id %}">
    {% csrf_token %}
	    {{ record_group_form }}
	    <input type='hidden' name='org_id' value='{{org.id}}'/>
	    <input type="submit" value="Submit" />
	</form>

{% endblock %}