{% extends 'core/base.html' %}
{% load static %}

{% block content %}
    <script type="text/javascript" charset="utf8" src="{% static 'core/moment.min.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'core/datetime-moment.js' %}"></script>


    <div class="row">
        <div class="col-md-12">
            <h1>Organizations</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {% if orgs|length > 0 %}
                <table id="orgs_table" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Organization ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Record Groups</th>
                        <th>Total Record Count</th>
                        <th>Created</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for org in orgs %}
                        <tr>
                            <td>{{ org.id }}</td>
                            <td><a href="{% url 'organization' org_id=org.id %}">{{ org.name }}</a></td>
                            <td>{{ org.description }}</td>
                            <td>
                                <ul>
                                    {% for rg in org.recordgroup_set.all %}
                                        <li>
                                            <a href="{% url 'record_group' org_id=org.id record_group_id=rg.id %}">{{ rg.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td><code>{{ org.total_record_count }}</code></td>
                            <td>{{ org.timestamp|date:"M d, Y, h:i A" }}</td>
                            <td>
                                <a href="{% url 'organization_delete' org_id=org.id %}"
                                   onclick="return confirm('Are you sure you want to delete this Organization?');">
                                    <button type="button" class="btn btn-danger btn-sm">Delete <i
                                            class="la la-close"></i></button>
                                </a>
                                <a href="{% url 'organization_run_jobs' org_id=org.id %}">
                                    <button type="button" class="btn btn-info btn-sm">Run All Jobs</button>
                                </a>
                                <a href="{% url 'organization_stop_jobs' org_id=org.id %}"
                                   onclick="return confirm('Are you sure you want to stop all running Jobs for this Organization?')">
                                    <button type="button" class="btn btn-warning btn-sm">Stop All Jobs</button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <script>
                    $(document).ready(function () {
                        $.fn.dataTable.moment('MMM DD, YYYY, HH:mm A')
                        orgs_table = $('#orgs_table').DataTable({
                            "order": [[1, "asc"]],
                            "pageLength": 100,
                            "lengthMenu": [10, 25, 100, 500]
                        });
                    });
                </script>
            {% else %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    No Organizations found! Create one below...
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Create new Organization</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <form method="POST" action="{% url 'organizations' %}">

                {% csrf_token %}

                <div class="form-group">
                    <label for="org_name">Name</label>
                    <input type="text" class="form-control" id="org_name" name="name" placeholder="Amazing Institution">
                </div>

                <div class="form-group">
                    <label for="org_desc">Description</label>
                    <input type="text" class="form-control" id="org_desc" name="description"
                           placeholder="All records for Amazing Institution">
                    <small id="descriptionHelp" class="form-text text-muted">(optional)</small>
                </div>

                <button type="submit" class="btn btn-success btn-sm">Create new Organization <i class="la la-plus"></i>
                </button>

            </form>
        </div>
    </div>

{% endblock %}
