{% extends 'core/base.html' %}

{% block content %}

	<div class="row">		
		<div class="col-md-12">
			<h3>Organizations</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>Organization ID</th>
						<th>Name</th>
						<th>Description</th>				
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for org in orgs %}
						<tr>
							<td><a href="{% url 'organization' org_id=org.id %}">{{ org.id }}</a></td>
							<td><a href="{% url 'organization' org_id=org.id %}">{{ org.name }}</a></td>
							<td>{{ org.description }}</td>					
							<td><a href="{% url 'organization_delete' org_id=org.id %}">Delete</a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<h4>Create new Organization</h4>
		</div>
	</div>

	<div class="row">
		<div class="col-md-5">
			<form method="POST" action="{% url 'organizations' %}">
		    	
		    	{% csrf_token %}			    

				<div class="form-group">
					<label for="org_name">Organization name</label>
					<input type="text" class="form-control" id="org_name" name="name" placeholder="Amazing Institution">					
				</div>

				<div class="form-group">
					<label for="org_desc">Description</label>
					<input type="text" class="form-control" id="org_desc" name="description" placeholder="All records for Amazing Institution">
					<small id="descriptionHelp" class="form-text text-muted">(optional)</small>
				</div>
			    
			    <button type="submit" class="btn btn-primary">Submit</button>

			</form>
		</div>
	</div>

{% endblock %}