{% extends 'core/base.html' %}

{% block content %}

<h2>Published Sets</h2>

<table border="1" cellpadding="10">

	<tr>
		<th>Set ID</th>
		<th>Record Group</th>
		<th>Published Records</th>
		<th>Record Count</th>
	</tr>

	{% for set, job in published.sets.items %}
		<tr>
			<td>"{{ set }}"</td>
			<td>{{ job.record_group.name }}</td>
			<td><a href="{% url 'job_details' org_id=job.record_group.organization.id record_group_id=job.record_group.id job_id=job.id %}">{{ job.name }}</a></td>
			<td>{{ job.record_count }}</td>
		</tr>
	{% endfor %}

	<tr>
		<td></td>
		<td></td>
		<td><strong>Total:</strong></td>
		<td>{{ published.record_count }}</td>
	</tr>

</table>

<p><a href="http://{{ APP_HOST }}:9200/published/_search" target="_blank">Published ElasticSearch index</a></p>

<h2>OAI Endpoint</h2>

<ul>
	<li><a href="{{ COMBINE_OAI_ENDPOINT }}?verb=Identify" target="_blank">Identify</a></li>
	<li><a href="{{ COMBINE_OAI_ENDPOINT }}?verb=ListIdentifiers" target="_blank">List Identifiers</a></li>
	<li><a href="{{ COMBINE_OAI_ENDPOINT }}?verb=ListRecords" target="_blank">List Records</a></li>
	<li><a href="{{ COMBINE_OAI_ENDPOINT }}?verb=ListSets" target="_blank">List Sets</a></li>
</ul>


{% endblock %}