{% extends 'core/base.html' %}

{% block content %}

<div class="row">
	<div class="col-md-12">
		<h3>Published Records</h3>
	</div>
</div>

{% if published.records.count == 0 %}

	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-warning alert-dismissible fade show" role="alert">
				No Record Groups have been published yet!  <a href="http://combine.readthedocs.io/en/master/publishing.html">Read more about Publishing Records here...</a>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
		</div>
	</div>


{% else %}

<div class="row">
	<div class="col-md-6">
		<h4>Published Sets</h4>
		
		<p>Showing all published Record Groups, where one Job from each Record Group may be published with an optional <code>Publish Set ID</code>.  This <code>Publish Set ID</code> is used during publishing for the outgoing OAI set.  In some cases this may be <span class="text-danger">"Not set"</span>, resulting in Records that are not aggregated under an OAI set, but will be returned via <code>ListRecords</code>.</p>

		<table class="table table-bordered table-hover">

			<tr>
				<th>Publish Set ID</th>
				<th>Record Group</th>				
				<th>Published Job</th>
				<th>Record Count</th>
				<th>Action</th>
				<th>Action</th>
			</tr>

			{% for set, jobs in published.sets.items %}
				{% for job in jobs %}
					<tr>
						<td>
							{% if job.record_group.publish_set_id %}
								<a href="{% url 'oai' %}?verb=ListRecords&set={{ set }}" target="_blank">{{ set }}</a>
							{% else %}
								<span style="color:red;"><strong>Not set</strong></span>
							{% endif %}
						</td>
						<td><a href="{% url 'record_group' org_id=job.record_group.organization.id record_group_id=job.record_group.id %}">{{ job.record_group.name }}</a></td>
						<td class="{{ job.job_type }} {% if job.deleted %}deleted{% endif %}"><a href="{% url 'job_details' org_id=job.record_group.organization.id record_group_id=job.record_group.id job_id=job.id %}">{{ job.name }}</a></td>
						<td>{{ job.record_count }}</td>
						<td><a href="{% url 'job_delete' org_id=job.record_group.organization.id record_group_id=job.record_group.id job_id=job.id %}"><button type="button" class="btn btn-danger btn-sm">Unpublish</button></a></td>

						<!-- NEW -->
						<td>
							<a href="#" onclick="$(this).next().fadeToggle(); return false;"><button type="button" class="btn btn-primary btn-sm">Change Publish Set ID</button></a>
							<div id="publish_set_id_update" style="display:none; margin-top:10px;">
								<form method="POST" action="{% url 'record_group_update_publish_set_id' org_id=job.record_group.organization.id record_group_id=job.record_group.id %}">
									{% csrf_token %}

									<div class="form-group">
										<label for="existing_publish_set_id">Select a pre-existing Publish Set ID used from other RecordGroups</label>
										<select class="form-control" id="existing_publish_set_id" name="existing_publish_set_id">
											<option value=''>Select pre-existing Publish Set ID to use...</option>
											{% for publish_set_id in publish_set_ids %}
												<option value="{{ publish_set_id.publish_set_id }}">{{ publish_set_id.publish_set_id }}</option>						
											{% endfor %}
										</select>																	
									</div>
									<div class="form-group">
										<label for="new_publish_set_id">Or enter a new one</label>
										<input class="form-control" type="text" id="new_publish_set_id" name="new_publish_set_id" size=40 placeholder="e.g. 'fedora_records'"/>
									</div>
									<button type="submit" class="btn btn-primary btn-sm">Update</button>
								</form>
							</div>
						</td>

					</tr>
				{% endfor %}
			{% endfor %}

			<tr>
				<td></td>
				<td></td>
				<td><strong>Total:</strong></td>
				<td><strong>{{ published.records.count }}</strong></td>
				<td></td>
				<td></td>
			</tr>

		</table>

	</div>

	<div class="col-md-6">
		<h4>Analysis</h4>
		<p>Run Analysis over all Published Records.  This may be useful for double checking uniqueness, record validity, or checking existence in previous DPLA bulk data sets.</p>
		<a href="{% url 'job_analysis' %}?type=published"><button type="submit" class="btn btn-success btn-sm">Run Analysis for Published Records</button></a>
	</div>

</div>

<div class="row">
	<div class="col-md-12">

		<h4>Published Records</h4>

		<p>The table belows shows all published records, across all Record Groups and OAI sets.</p>

		<table id="published_records" class="table table-hover">
			<thead>
				<th>ID</th>
				<th>Record ID</th>
				<th>Record Group</th>
				<th>Outgoing OAI set</th>
				<th>Harvested OAI set</th>
				<th>Unique in Published?</th>
				<th>Document</th>
			</thead>
			<tbody>
			</tbody>
		</table>

		<script>
			$(document).ready(function() {
			    var oTable = $('#published_records').dataTable({
			        "processing": true,
			        "serverSide": true,
			        "ajax": "{% url 'published_dt_json' %}",
			        "searchDelay": 1000,
			        "pageLength": 10
			    });
			});
		</script>

	</div>
</div>

<div class="row">
	<div class="col-md-12">

		<h4>Indexed Field Analysis</h4>

		<p><a href="http://{{ APP_HOST }}:9200/published/_search" target="_blank">Published ElasticSearch index</a></p>

		<!-- Indexed Fields Analysis DT Table -->
		{% include 'core/indexed_fields_dt_table.html' %}

	</div>
</div>

<div class="row">
	<div class="col-md-12">

		<h4>Combine Outgoing OAI Server</h4>

		<ul>
			<li><a href="{% url 'oai' %}?verb=Identify" target="_blank">Identify</a></li>
			<li><a href="{% url 'oai' %}?verb=ListIdentifiers" target="_blank">List Identifiers</a></li>
			<li><a href="{% url 'oai' %}?verb=ListRecords" target="_blank">List Records</a></li>
			<li><a href="{% url 'oai' %}?verb=ListSets" target="_blank">List Sets</a></li>
		</ul>

	</div>
</div>

{% endif %}


{% endblock %}