{% block content %}	
<table id='datatables_records'>
	<thead>
		<th>id</th>
		<th>record_id</th>
		<th>job</th>
		<th>document</th>
		<th>error</th>
	</thead>
	<tbody>
	</tbody>
</table>

<script>
	$(document).ready(function() {
	    var oTable = $('#datatables_records').dataTable({
	        "processing": true,
	        "serverSide": true,
	        "ajax": "{% url 'datatables_record_data' org_id=cjob.job.record_group.organization.id record_group_id=cjob.job.record_group.id job_id=cjob.job.id %}"
	    });
	});
</script>
{% endblock %}