{% block content %}

	<div class="row">
		<div class="col-md-12">
			<div class="gray_box">
				<h5>Validation Tests</h5>
				<p>When running jobs, optionally select <a target="_blank" href="{% url 'configuration' %}#validations_anchor">pre-existing Validation Scenarios</a> to run against each record in the job.</p>
				{% for vs in validation_scenarios %}
					
					<div class="form-check">
					  <input class="form-check-input" type="checkbox" value="{{ vs.id }}" id="validation_scenario_{{ vs.id }}" name="validation_scenario" {% if vs.default_run %}checked{% endif %}>
					  <label class="form-check-label" for="validation_scenario_{{ vs.id }}">
					    {{ vs.name }}
					  </label>
					</div>

				{% endfor %}
			</div>
		</div>
	</div>

{% endblock %}