{% extends 'core/base.html' %}

{% block content %}

	<h3>Jobs for Record Group: {{ record_group.name }}</h3>

	<table border="1" cellpadding="10">
		<tr>
			<th>Description</th>
			<td>{{ record_group.description }}</td>
		</tr>
		<tr>
			<th>Published Records</th>
			{% if record_group.jobpublish_set.all|length > 0 %}
				<td class="{{ record_group.jobpublish_set.all.first.job.job_type }}"><a href="{% url 'job_details' org_id=record_group.organization.id record_group_id=record_group.id job_id=record_group.jobpublish_set.all.first.job.id %}">{{ record_group.jobpublish_set.all.first.job.name }}, Job #{{ record_group.jobpublish_set.all.first.job.id }}</a></td>
			{% else %}
				<td style="color:red;">None</td>
			{% endif %}
		</tr>
		<tr>
			<th>Published Set ID</th>
			<td>{{ record_group.publish_set_id }}</td>
		</tr>
	</table>

	<h3>Jobs</h3>

	<!-- optional job note -->
	{% include 'core/jobs_dt_table.html' %}

	<div>
		<h3>Run new job</h3>
		<p>
			<ul>
				<li><a href="{% url 'job_harvest' org_id=record_group.organization.id record_group_id=record_group.id %}">Harvest</a></li>
				<li><a href="{% url 'job_transform' org_id=record_group.organization.id record_group_id=record_group.id %}">Transform</a></li>
				<li><a href="{% url 'job_merge' org_id=record_group.organization.id record_group_id=record_group.id %}">Merge</a></li>
				<!-- <li><a href="#">Map Service Hub profile to DPLA profile</a></li> -->
				<li><a href="{% url 'job_publish' org_id=record_group.organization.id record_group_id=record_group.id %}">Publish</a></li>
			</ul>
		</p>
	</div>

{% endblock %}