{% extends 'core/base.html' %}

{% block content %}

	<div class="row">
		<div class="col-md-12">
			<h3>Record Group: <span class="font-weight-bold">{{ record_group.name }}</span></h3>
		</div>
	</div>

	<div class="row">
		<div class="col-md-5">			
			<table class="table table-bordered table-hover">
				<tr>
					<th>Description</th>
					<td>{{ record_group.description }}</td>
					<td></td>
				</tr>
				<tr>
					<th>Published?</th>
					{% if record_group.is_published %}
						{% for published in record_group.jobpublish_set.all %}
							<td class="{{ record_group.jobpublish_set.all.first.job.job_type_family }} {% if record_group.jobpublish_set.all.first.job.deleted %}deleted{% endif %}">
									<a href="{% url 'job_details' org_id=record_group.organization.id record_group_id=record_group.id job_id=record_group.jobpublish_set.all.first.job.id %}">Job #{{ published.job.id }}, {{ published.job.name }}</a>
							</td>
							<td>
								<a href="{% url 'job_delete' org_id=record_group.organization.id record_group_id=record_group.id job_id=record_group.jobpublish_set.all.first.job.id %}"><button type="button" class="btn btn-danger btn-sm">Unpublish</button></a>
							</td>
						{% endfor %}
					{% else %}
						<td style="color:red;"><strong>This Record Group has not been published yet</strong></td>
						<td><a href="{% url 'job_publish' org_id=record_group.organization.id record_group_id=record_group.id %}"><button type="button" class="btn btn-primary btn-sm">Publish</button></a></td>
					{% endif %}
				</tr>
				{% if record_group.is_published %}
				<tr>
					<th>Publish Set ID</th>
					<td>
						{% if record_group.publish_set_id %}
							<a href="{% url 'oai' %}?verb=ListRecords&set={{ record_group.publish_set_id }}" target="_blank">{{ record_group.publish_set_id }}</a>
						{% else %}
							<span style="color:red;"><strong>Not set - records will not sort under a Publish Set ID</strong></span>
						{% endif %}
					</td>
					<td>
						<a href="#" onclick="$('#publish_set_id_update').fadeToggle(); return false;"><button type="button" class="btn btn-primary btn-sm">Change Publish Set ID</button></a>
						<div id="publish_set_id_update" style="display:none; margin-top:10px;">							
							<form method="POST" action="{% url 'record_group_update_publish_set_id' org_id=record_group.organization.id record_group_id=record_group.id %}">
								{% csrf_token %}

								<div class="form-group">
									<label for="existing_publish_set_id">Select a pre-existing Publish Set ID used from other RecordGroups</label>
									<select class="form-control" id="existing_publish_set_id" name="existing_publish_set_id">
										<option value=''>Select pre-existing Publish Set ID to use...</option>
										{% for publish_set_id in publish_set_ids %}
											<option value="{{ publish_set_id.publish_set_id }}">{{ publish_set_id.publish_set_id }}</option>						
										{% endfor %}
									</select>																	
								</div>
								<div class="form-group">
									<label for="new_publish_set_id">Or enter a new one</label>
									<input class="form-control" type="text" id="new_publish_set_id" name="new_publish_set_id" size=40 placeholder="e.g. 'fedora_records'"/>
								</div>
								<button type="submit" class="btn btn-primary btn-sm">Update</button>
							</form>
						</div>
					</td>
				</tr>
				{% endif %}
			</table>
		</div>		
	</div>

	{% if jobs|length > 0 %}

		<!-- optional job lineage network node graph -->
		{% include 'core/job_lineage_network.html' %}

		<!-- job datatable -->
		{% include 'core/jobs_dt_table.html' %}
	{% else %}
		<div class="row">
			<div class="col-md-12">
				<div class="alert alert-warning alert-dismissible fade show" role="alert">
					No Jobs were found or yet run for this Record Group, start one below!
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
			</div>
		</div>
	{% endif %}

	</div>

	<div class="row">
		<div class="col-md-12">
			
			<h4>Run New Job</h4>
			
			<table class="table table-bordered table-hover">
				<tbody>
					<tr>
						<th style="width:10%;">Harvest</th>
						<td>Harvests Jobs are how Records are created and introduced to a Record Group.  Currently this includes OAI-PMH harvesting, or ingesting Records from static files on disk. </td>
						<td style="width:20%; text-align:center;">
							<p>
								<a href="{% url 'job_harvest_oai' org_id=record_group.organization.id record_group_id=record_group.id %}"><button type="button" class="btn btn-primary btn-sm">Harvest OAI-PMH</button></a>
							</p>
							<p>
								<a href="{% url 'job_harvest_static_xml' org_id=record_group.organization.id record_group_id=record_group.id %}"><button type="button" class="btn btn-primary btn-sm">Harvest Static XML</button></a>
							</p>
						</td>
					</tr>
					<tr>
						<th style="width:10%;">Transform</th>
						<td>Transformation Jobs change the Records within a Job some way.  Currently this includes transformation of the Record's XML document with XSLT or python code snippets.  Before running a Transformation, make a <a href="{% url 'configuration' %}">pre-configured Transformation Scenario</a> exists.</td>
						<td style="width:20%; text-align:center;">
							<p>
								<a href="{% url 'job_transform' org_id=record_group.organization.id record_group_id=record_group.id %}"><button type="button" class="btn btn-primary btn-sm">Transform Job</button></a>
							</p>
						</td>
					</tr>
					<tr>
						<th style="width:10%;">Duplicate / Merge</th>
						<td>Duplicate / Merge Jobs do not modify the Record, but can be used to combine multiple Jobs into one Job, run new or different Validation Scenarios on a pre-existing Job, or index to ElasticSearch with a different mapping.</td>
						<td style="width:20%; text-align:center;">
							<p>
								<a href="{% url 'job_merge' org_id=record_group.organization.id record_group_id=record_group.id %}"><button type="button" class="btn btn-primary btn-sm">Duplicate / Merge Jobs</button></a>
							</p>
						</td>
					</tr>

				</tbody>
			</table>
			
		</div>
	</div>

{% endblock %}