{% extends 'core/base.html' %}

{% block content %}

	<h2>Record</h2>

	<ul>
		<li><strong>Combine DB ID:</strong> {{ record.id }}</li>
		<li><strong>Job Type:</strong> <span class="{{ record.job.job_type }}">{{ record.job.job_type }}</span></li>
		<li><strong>Record ID:</strong> {{ record.record_id }}</li>
		<li><strong>Published OAI ID:</strong> {{ record.oai_id }}</li>
		<li><strong>Derived DPLA ID:</strong> <a href="https://dp.la/item/{{ record.derive_dpla_identifier }}" target="_blank">{{ record.derive_dpla_identifier }}</a></li>
	</ul>

	<h3>Record Stages</h3>

	<table border="1" cellpadding="10">
		<tr>
			<th>DB ID</th>
			<th>Job ID</th>
			<th>Job Name</th>
			<th>Job Type</th>
			<th>Record Document</th>
			<th>Record Error</th>
			<th>ElasticSearch document</th>
		</tr>
		{% for record_stage in record_stages %}
			<tr class="{{ record_stage.job.job_type }} {% if record.id == record_stage.id %}bold{% endif %} {% if record_stage.error != '' %}error{% endif %}">
				<td><a href="{% url 'record' org_id=record_stage.job.record_group.organization.id record_group_id=record_stage.job.record_group.id job_id=record_stage.job.id record_id=record_stage.id %}">{{ record_stage.id }}</a></td>
				<td>{{ record_stage.job.id }}</td>
				<td>{{ record_stage.job.name }}</td>
				<td>{{ record_stage.job.job_type }}</td>
				{% if record_stage.document != '' %}
					<td><a href="{% url 'record_document' org_id=record_stage.job.record_group.organization.id record_group_id=record_stage.job.record_group.id job_id=record_stage.job.id record_id=record_stage.id%}" target="_blank">View</a></td>
				{% else %}
					<td>None</td>
				{% endif %}
				{% if record_stage.error != ''%}
					<td><a href="{% url 'record_error' org_id=record_stage.job.record_group.organization.id record_group_id=record_stage.job.record_group.id job_id=record_stage.job.id record_id=record_stage.id%}" target="_blank">View</a></td>
				{% else %}
					<td>None</td>
				{% endif %}
				<td><a href='http://{{ APP_HOST }}:9200/j{{ record_stage.job.id }}/_search?q=_id:"{{ record_stage.record_id }}"' target="_blank">View</a></td>
			</tr>
		{% endfor %}
	</table>

	<h3>Indexed Fields</h3>

	<div style="width:75%;">
		<table id="record_fields" border="1">
			<thead>
				<tr>
					<th>Field Name</th>
					<th>Field Value</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<th>Field Name</th>
					<th>Field Value</th>
				</tr>
			</tfoot>
			<tbody>
				{% for key, value in record.get_es_doc.items %}
				<tr>
					<td><strong>{{ key }}</strong></td>
					{% if 'http://' in value or 'https://' in value %}
						<td><a href="{{ value }}" target="_blank">{{ value }}</a></td>
					{% else %}
						<td>{{ value }}</td>
					{% endif %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<script>
			$(document).ready(function() {
			    $('#record_fields').DataTable({
			    	"pageLength": 100,
			    	"lengthMenu": [ 10, 25, 100, 500 ]
			    });
			} );
		</script>
	</div>

	<!-- Details specific to Job Type -->

	<!-- HarvestJob -->
	{% if record.job.job_type == 'HarvestJob' %}
	{% endif %}

	<!-- TransformJob -->
	<div id="job_type_specific">
		{% if record.job.job_type == 'TransformJob' %}
			<h2>{{ record.job.job_type }} Details</h2>
			<h3>Transformation Used</h3>
			<table border="1" cellpadding="10">
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Type</th>
					<th>Path on disk</th>
					<th>Transformation Payload</th>
					<th>Input Document</th>
				</tr>
				<tr>
					<td>{{job_details.transformation.id}}</td>
					<td>{{job_details.transformation.name}}</td>
					<td>{{job_details.transformation.transformation_type}}</td>
					<td>{{job_details.transformation.filepath}}</td>
					<td><a href="{% url 'trans_scen_payload' trans_id=job_details.transformation.id %}">View XSL</a></td>
					<td><a href="{% url 'record_document' org_id=job_details.input_record.job.record_group.organization.id record_group_id=job_details.input_record.job.record_group.id job_id=job_details.input_record.job.id record_id=job_details.input_record.id%}" target="_blank">View</a></td>
				</tr>
			</table>
		{% endif %}

		<!-- MergeJob -->
		{% if record.job.job_type == 'MergeJob' %}
		{% endif %}

		<!-- PublishJob -->
		{% if record.job.job_type == 'PublishJob' %}
		{% endif %}
	</div>

	<div id="record_document">
		<h3>Record Document</h3>
		{% if record.document != '' %}
			<div style="width:75%;">
				<pre><code style="padding:10px; border-radius:10px;" class="xml">{{ record.document }}</code></pre>
			</div>
		{% else %}
			<p>None</p>
		{% endif %}
	</div>


{% endblock %}