{% block content %}	
<table id='datatables_records'>
	<thead>
		<th>ID</th>
		<th>Record ID</th>
		<th>Job</th>
		<th>Harvested OAI set</th>
		<th>Unique</th>
		<th>Success</th>
		<th>Document</th>
		<th>Error</th>
		<th>Validation Results</th>
	</thead>
	<tbody>
	</tbody>
</table>

<script>

	/*
	If template variable `cjob` is present, return records for that job.
	Else, return all records.
	*/
	$(document).ready(function() {
		var oTable = $('#datatables_records').dataTable({
			"processing": true,
			"serverSide": true,
			"ajax": "{% if cjob %}{% url 'records_dt_json' org_id=cjob.job.record_group.organization.id record_group_id=cjob.job.record_group.id job_id=cjob.job.id %}{% else %}{% url 'all_records_dt_json' %}{% endif %}",
			"searchDelay": 1500,
			"pageLength": 10,
			"createdRow": function( row, data, dataIndex){
                if( data[5] ==  false){
                    $(row).css('background-color','rgb(255, 241, 241)');
                }
            },
            "columnDefs": [
	            {
					"targets": 8,
					"orderable": false
				}
			]
		});
	});

</script>

{% endblock %}