{% extends 'core/base.html' %}
{% block content %}
{% load core_template_filters %}

	<div class="row">
		<div class="col-md-12">
			<h2>Record: {% if record.dpla_mapped_field_values.title %}"{{record.dpla_mapped_field_values.title}}"{% else %}<code>{{ record.record_id }}</code>{% endif %}</h2>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<table class="table table-bordered">
				<tbody>
					<tr>
						<th>DB ID</th>
						<td><code>{{ record.id }}</code></td>
					</tr>
					<tr>
						<th>Combine ID</th>
						<td><code>{{ record.combine_id }}</code></td>
					</tr>
					<tr>
						<th>Record ID</th>
						<td><code>{{ record.record_id }}</code></td>
					</tr>					
					<tr>
						<th>Valid?</th>
						<td><span class="{% if record.valid %}text-success{% else %}text-danger{% endif %}">{{ record.valid }}</span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">

			<!-- Navigation -->
			<ul class="nav nav-tabs">				
				<li class="nav-item">
					<a class="nav-link active" data-toggle="tab" href="#document_tab">Record Document</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#mapped_fields_tab">Mapped Fields</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#stages_tab">Record Stages</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#validation_tab">Validation</a>
				</li>				
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#dpla_link_tab">DPLA API Query</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#job_type_specific_tab">{% if record.job.job_type_family == 'HarvestJob' %}Harvest Details{% elif record.job.job_type_family == 'TransformJob' %}Transform Details{% elif record.job.job_type_family == 'MergeJob' %}Merge / Duplicate Details{% elif record.job.job_type_family == 'PublishJob' %}Publish Details{% elif record.job.job_type_family == 'AnalysisJob' %}Analysis Details{% endif %}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#run_scenarios_with_record">Run/Test Scenarios for this Record</a>
				</li>
			</ul>

			<!-- Tabbed Content -->
			<div class="tab-content">

				<div id="document_tab" class="tab-pane full_width_tab active">
					<div class="row">
						<div class="col-md-12">
							<div id="record_document">
								<h4>Record Document</h4>
								<p>This tab previews and provides information about the document stored for this Record.  Below is the raw, stored document for this Record, or see the buttons for more options.

								<p><a href="{% url 'record_document' org_id=record.job.record_group.organization.id record_group_id=record.job.record_group.id job_id=record.job.id record_id=record.id%}" target="_blank"><button type="button" class="btn btn-outline-info btn-sm"><strong>View</strong> Document in new Tab</button></a> <a href="{% url 'search' %}?q={{ record.fingerprint }}"><button type="button" class="btn btn-outline-info btn-sm">Search for <strong>Matching</strong> Documents</button></a></p>
								
								{% if record.document != '' %}
									<div>
										<pre><code id="record_document_raw" style="padding:10px; border-radius:10px;" class="xml">{{ record.document_pretty_print }}</code></pre>
									</div>
								{% else %}
									<p>This Record does not have a document associated with it, see below for any errors that may have been reported:</p>
									<div class="gray_box">
										<pre><code>{{record.error}}</code></pre>
									</div>
								{% endif %}
							</div>
							<script>
								// highlight raw document after loaded
								$(document).ready(function(){
									$("#record_document_raw").each(function(i, block) {										
										hljs.highlightBlock(block);
									});
								});
							</script>
						</div>
					</div>
				</div>

				<div id="stages_tab" class="tab-pane full_width_tab">
					<div class="row">

						<!-- Record Stages -->
						<div class="col-md-12">
							<h4>Stages</h4>
							<p>The following table shows this Record through various "stages", or Jobs, in Combine.  Each stage shares the following Combine ID: <code>{{ record.combine_id }}</code>, which links them across Jobs.</p>

							<table class="table table-bordered">
								<thead>
									<tr>
										<th>DB ID</th>
										<th>Record ID</th>
										<th>Job ID</th>
										<th>Job Name</th>
										<th>Job Type</th>
										<th>Document XML</th>
										<th>Error</th>
										<th>Is Valid</th>
										<th>ElasticSearch document</th>
									</tr>
								</thead>
								<tbody>
								{% for record_stage in record_stages %}
									<tr class="{{ record_stage.job.job_type_family }} {% if record.id == record_stage.id %}bold outlined_row{% endif %} {% if record_stage.error != '' %}error{% endif %}">
										<td><a href="{% url 'record' org_id=record_stage.job.record_group.organization.id record_group_id=record_stage.job.record_group.id job_id=record_stage.job.id record_id=record_stage.id %}">{{ record_stage.id }}</a></td>
										<td><a href="{% url 'record' org_id=record_stage.job.record_group.organization.id record_group_id=record_stage.job.record_group.id job_id=record_stage.job.id record_id=record_stage.id %}">{{ record_stage.record_id }}</a></td>
										<td><a href="{% url 'job_details' org_id=record_stage.job.record_group.organization.id record_group_id=record_stage.job.record_group.id job_id=record_stage.job.id %}">{{ record_stage.job.id }}</a></td>
										<td><a href="{% url 'job_details' org_id=record_stage.job.record_group.organization.id record_group_id=record_stage.job.record_group.id job_id=record_stage.job.id %}">{{ record_stage.job.name }}</a></td>
										<td><span style="background-color:{{ record_stage.job.job_type_family }}">{{ record_stage.job.job_type }}</span></td>
										{% if record_stage.document != '' %}
											<td><a href="{% url 'record_document' org_id=record_stage.job.record_group.organization.id record_group_id=record_stage.job.record_group.id job_id=record_stage.job.id record_id=record_stage.id%}" target="_blank">View</a></td>
										{% else %}
											<td>None</td>
										{% endif %}
										{% if record_stage.error != ''%}
											<td><a href="{% url 'record_error' org_id=record_stage.job.record_group.organization.id record_group_id=record_stage.job.record_group.id job_id=record_stage.job.id record_id=record_stage.id%}" target="_blank">View</a></td>
										{% else %}
											<td>None</td>
										{% endif %}
										{% if record_stage.get_validation_errors.count > 0 %}<td style="background-color:#ff9898;">False</td>{% else %}<td>True{% endif %}</td>
										<td><a href='http://{{ APP_HOST }}:9200/j{{ record_stage.job.id }}/_search?q=_id:"{{ record_stage.combine_id }}"' target="_blank">View</a></td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>

				<div id="validation_tab" class="tab-pane full_width_tab">
					<div class="row">

						<!-- Record Validations -->
						{% if record.job.jobvalidation_set.count > 0 %}
						<div class="col-md-12">
							<h4>Validation Result: {% if record.get_validation_errors.count > 0 %}<span class="text-danger">Failed</span>{% else %}<span class="text-success">Passed</span>{% endif %}</h4>							
							{% if record.get_validation_errors.count > 0 %}
								<p>This Record failed the following Validation Scenarios</p>
								<table class="table table-bordered table-hover">
									<tr>
										<th>Validation Scenario</th>
										<th>Validation Type</th>
										<th>Test Failed</th>
										<th>Actions</th>
									</tr>
									{% for rv in record.get_validation_errors %}
										{% for failure in rv.failed %}
											<tr>
												<td>{{ rv.validation_scenario.name }}</td>
												<td>{{ rv.validation_scenario.get_validation_type_display }}</td>
												<td><code>{{ failure }}</code></td>												
												<td><a target="_blank" href="{% url 'test_validation_scenario' %}?q={{record.id}}&validation_scenario={{rv.validation_scenario.id}}|{{rv.validation_scenario.validation_type}}"><button type="button" class="btn btn-info btn-sm">Run Validation</button></a></td>
											</tr>
										{% endfor %}
									{% endfor %}
								</table>
							{% else %}
								<p>This Record passed the following Validation Scenarios tests:</p>
								<table class="table table-bordered table-hover">
									<tr>
										<th>Validation Scenario</th>
										<th>Validation Type</th>
									</tr>
									{% for jv in record.job.jobvalidation_set.all %}
										<tr>
											<td>{{ jv.validation_scenario.name }}</td>
											<td>{{ jv.validation_scenario.get_validation_type_display }}</td>
										</tr>
									{% endfor %}
								</table>
							{% endif %}
						</div>
						{% else %}
							<div class="col-md-12">
								<p>No Validations were run for this Job.</p>
							</div>
						{% endif %}

					</div>
				</div>

				<div id="mapped_fields_tab" class="tab-pane full_width_tab">
					<!-- Indexed Fields -->
					<div class="row">
						<div class="col-md-12">
							<h4>Mapped Fields</h4>
							<p>
								<ul class="list-inline">
									<li style="display:inline;"><a href="#" onclick="$('#job_fm_config_json_container').toggle(); return false;"><button type="button" class="btn btn-outline-info btn-sm">Show Field Mapping Configuration Used</button></a></li>
									<li style="display:inline;"><a href="{% url 'record_indexed_document' org_id=record.job.record_group.organization.id record_group_id=record.job.record_group.id job_id=record.job.id record_id=record.id%}" target="_blank"><button type="button" class="btn btn-outline-info btn-sm">View ElasticSearch Document</button></a></li>									
								</ul>
							</p>

							<div id="job_fm_config_json_container" class="row" style="display:none;">
								<div class="col-md-12">
									<p>The following Field Mapper configurations were used for this Job:</p>
									<div id="jsoneditor" style="height:450px;"></div>
									<script>
								        // create the editor
								        var container = document.getElementById("jsoneditor");
								        var options = {
								        	mode: 'code',
					    					modes: ['code', 'text', 'view'],
					    					sortObjectKeys: true,
					    					name: 'field_mapping_configuration',
					    					onModeChange: function(nm, om){
					    						if (nm == 'view'){
					    							$("#jsoneditor").css('height','');
					    						}
					    						else {
					    							$("#jsoneditor").css('height','450px');	
					    						}
					    					},
					    					navigationBar:false
								        };
								        var editor = new JSONEditor(container, options);

								        // set json to editor
								        editor.set({{ job_fm_config_json|safe }});
								    </script>
								</div>
							</div>

							<table id="record_fields" class="table table-bordered table-hover">
								<thead>
									<tr>
										<th>Field Name</th>										
										<th>Field Value</th>
									</tr>
								</thead>
								<tbody>
									{% for field_name, field_value in record.get_es_doc.items %}
									<tr>
										<td><code>{{ field_name }}</code></td>

										{% if 'http://' in field_value or 'https://' in field_value %}
											<td><a href="{{ field_value }}" target="_blank">{{ field_value }}</a></td>
										{% else %}
											<td>{{ field_value }}</td>
										{% endif %}
									</tr>
									{% endfor %}
								</tbody>
							</table>
							<script>
								$(document).ready(function() {
								    $('#record_fields').DataTable({
								    	"pageLength": 100,
								    	"lengthMenu": [ 10, 25, 100, 500 ],
								    	"columnDefs": [
											{ "searchable": false, "targets": 1 }
										]
								    });
								} );
							</script>
						</div>
					</div>

				</div>

				<div id="dpla_link_tab" class="tab-pane full_width_tab">

					{% if DPLA_API_KEY %}

						<!-- if DPLA API document hit -->
						{% if dpla_api_doc %}
						
							<div class="row">

								<div class="col-md-12">
									<div>
										<h4>DPLA API Item Query</h4>
										<p>A matching DPLA Item was found!</p>
										<p><a target="_blank" href="https://dp.la/item/{{ dpla_api_doc.id }}"><img src="https://dp.la/thumb/{{ dpla_api_doc.id }}"/></a></p>
										<p><a target="_blank" href="https://dp.la/item/{{ dpla_api_doc.id }}"><button type="button" class="btn btn-success btn-sm">View DPLA Item Record</button></a></p>
										<table class="table table-bordered table-hover">
										{% for field, value in dpla_api_doc.sourceResource.items %}
											<tr>
												<td><strong>{{field}}</strong></td>
												<td>{{value}}</td>
											</tr>
										{% endfor %}
										</table>										
									</div>
								</div>

							</div>						

							<div class="row">
								<div class="col-md-12">
									<div id="dpla_api_result">
										<h4>DPLA API Result</h4>
										<!-- DPLA api results -->
										<div id="jsonresults" style="height:450px;"></div>
										<script>
									        // create the editor
									        var container = document.getElementById("jsonresults");
									        var options = {
									        	mode: 'view',
												modes: ['code', 'text', 'view'],
												sortObjectKeys: true,
												name: 'dpla_api_response',
												onModeChange: function(nm, om){
													if (nm == 'view'){
														$("#jsonresults").css('height','');
													}
													else {
														$("#jsonresults").css('height','450px');	
													}
												},

												navigationBar:false
									        };
									        var editor_results = new JSONEditor(container, options);

									        // set json to editor_results
									        editor_results.set({{ dpla_api_json|safe }});		        
									    </script>
									</div>
								</div>
							</div>

						{% else %}
							<div class="row">
								<div class="col-md-12">
									<h4>DPLA API Item Query</h4>
									<p>A single, matching DPLA item was not found.  Possible none were found, or multiple, which would be shown in the table below.</p>
								</div>
							</div>
						{% endif %}

						<!-- if DPLA API document hit -->
						{% if record.dpla_api_matches %}
							<div class="row">

								<div class="col-md-12">
									<h4>DPLA API Matches</h4>
									<p>The following table shows DPLA API fields that were search, with what value, and what matches were returned.  Rows in yellow indicate queries against the <code>isShownAt</code> field, which should usually be unique to a single DPLA Item.</p>
									<table class="table table-bordered table-hover">
										<thead>
											<tr>
												<th>DPLA Field</th>
												<th>Search Term</th>
												<th>DPLA Item</th>
											</tr>
										</thead>
										<tbody>
											{% for field, matches in record.dpla_api_matches.items %}
												{% for match in matches %}
													<tr {% if field == 'isShownAt' %}style="background-color: rgba(255, 255, 0, 0.4);"{% endif %}>
														<td><code>{{field}}</code></td>
														<td><code>{{match.search_term}}</code></td>
														<td><a target="_blank" href="https://dp.la/item/{{ match.hit.id }}">{{match.hit.id}}</a></td>														
													</tr>
												{% endfor %}
											{% endfor %}
										</tbody>												
									</table>
								</div>

							</div>
						
						{% else %}

						{% endif %}


					{% else %}
						<p>DPLA API key not set, set in <code>localsettings.py</code> to query DPLA API for Record matching.</p>
					{% endif %}

					

				</div>

				<div id="job_type_specific_tab" class="tab-pane full_width_tab">
					<!-- Details specific to Job Type -->
					<div class="row">
						<div class="col-md-12">
							<div id="job_type_specific">

								<!-- HarvestJob -->
								{% if record.job.job_type_family == 'HarvestJob' %}
									<p>No additional information at this time for Harvest jobs.</p>
								{% endif %}

								<!-- TransformJob -->			
								{% if record.job.job_type_family == 'TransformJob' %}

									{% if job_details.transformation.id %}										
										<div class="row">											
											<div class="col-md-12">
												<h4>Transformation Scenario Used</h4>
												<table class="table table-bordered table-hover">
													<tr>
														<th>ID</th>
														<th>Name</th>
														<th>Type</th>
														<th>Transformation Payload</th>
														<th>Input Document</th>
													</tr>
													<tr>
														<td>{{job_details.transformation.id}}</td>
														<td>{{job_details.transformation.name}}</td>
														<td>{{job_details.transformation.get_transformation_type_display}}</td>
														<td><a href="{% url 'transformation_scenario_payload' trans_id=job_details.transformation.id %}">View</a></td>
														<td><a href="{% url 'record_document' org_id=job_details.input_record.job.record_group.organization.id record_group_id=job_details.input_record.job.record_group.id job_id=job_details.input_record.job.id record_id=job_details.input_record.id %}">View (Record #{{ job_details.input_record.id }})</a></td>
													</tr>
												</table>
											</div>
											<div class="col-md-12">
												<p><a href="{% url 'test_transformation_scenario' %}?q={{ job_details.input_record.id }}&transformation_scenario={{ job_details.transformation.id }}|{{job_details.transformation.transformation_type}}"><button type="button" class="btn btn-success btn-sm">Re-run Transformation on Input Record</button></a></p>
											</div>
										</div>
									{% endif %}

									<div class="row">
										<div class="col-md-12">

											<h4>Changes to Record during Transformation</h4>											
											{% if record_diff_dict %}

												<p>Using the tabs below, select different views of changes for the Record after Transformation:</p>

												<div class="row">
													<div class="col-md-12">

														<ul class="nav nav-tabs">				
															<li class="nav-item">
																<a class="nav-link active" data-toggle="tab" href="#combined_diff">Combined Diff</a>
															</li>
															<li class="nav-item">
																<a class="nav-link" data-toggle="tab" href="#side_by_side_diff" onclick="retrieve_side_by_side_diff(); return false;">Side-by-Side Comparison</a>
															</li>
														</ul>

													</div>
												</div>

												<div class="tab-content">

													<!-- Combined Diff -->
													<div id="combined_diff" class="tab-pane full_width_tab active">

														<div class="row">
															<div class="col-md-12">
																<div>
																	{{record_diff_dict.combined_gen|safe}}
																</div>
															</div>
														</div>

													</div>

													<!-- Side-by-Side Comparison -->
													<div id="side_by_side_diff" class="tab-pane full_width_tab">

														<div class="row">
															<div class="col-md-12">

																<p><a href="{% url 'record_side_by_side_diff_html' org_id=record.job.record_group.organization.id record_group_id=record.job.record_group.id job_id=record.job.id record_id=record.id %}" target="_blank"><button type="button" class="btn btn-success btn-sm">View Comparison in New Tab</button></a></p>
																
																<div id="side_by_side_html">
																	<p>loading...</p>
																</div>

															</div>
														</div>

													</div>

												</div>

											{% else %}
												<p>During Transformation, no changes were detected for this Record.</p>
											{% endif %}

										</div>
									</div>

								{% endif %}

								<!-- MergeJob -->
								{% if record.job.job_type_family == 'MergeJob' %}
									<p>No additional information at this time for Duplicate / Merge / Analysis jobs.</p>
								{% endif %}

								<!-- PublishJob -->
								{% if record.job.job_type_family == 'PublishJob' %}
									<p>No additional information at this time for Publish jobs.</p>
								{% endif %}

							</div>
						</div>
					</div>
				</div>

				<div id="run_scenarios_with_record" class="tab-pane full_width_tab">
					<div class="row">
						<div class="col-md-12">

							<p>Combine transforms, validates, and otherwise modifies Records by applying various "Scenarios" against them.  These can be seen in more detail on the the Configuration page.  Each of these Scenarios allows for testing against Records, where a Record is searched for and used.  However, you can also navigate to the testing areas for these Scenarios with this particular Record pre-selected using the buttons below:</p>
							
							<p>
								<ul class="list-inline">
									<li style="margin-top:5px;"><a href="{% url 'test_field_mapper' %}?q={{ record.id }}"><button type="button" class="btn btn-success btn-sm">Test Field Mapping for this Record</button></a></li>
									<li style="margin-top:5px;"><a href="{% url 'test_transformation_scenario' %}?q={{ record.id }}"><button type="button" class="btn btn-success btn-sm">Test Transformation Scenario for this Record</button></a></li>
									<li style="margin-top:5px;"><a href="{% url 'test_validation_scenario' %}?q={{ record.id }}"><button type="button" class="btn btn-success btn-sm">Test Validation Scenario for this Record</button></a></li>
									<li style="margin-top:5px;"><a href="{% url 'test_rits' %}?q={{ record.id }}"><button type="button" class="btn btn-success btn-sm">Test Record Identifier Transform for this Record</button></a></li>
								</ul>
							</p>

						</div>
					</div>
				</div>

			</div>

		</div>

	</div>

	<script>

		// function to load side_by_side diff
		sbs_loaded = false;
		
		function retrieve_side_by_side_diff(){
			if (!sbs_loaded) {
				$.ajax({
					type: "GET",
					url: "{% url 'record_side_by_side_diff_html' org_id=record.job.record_group.organization.id record_group_id=record.job.record_group.id job_id=record.job.id record_id=record.id %}?embed=true",
					data: {},
					dataType:'text',
					success: function(data){
						// push results to page
						$("#side_by_side_html").html(data);
						// set flag
						sbs_loaded = true;
					}
				});	
			}
			else {
				console.log('side_by_side comparison already loaded!');
			}
		}

	</script>


{% endblock %}