{% block content %}

	<div class="row">
		<div class="col-md-12">
			<div class="gray_box">

				<p>Filter Records from each Job used as input for this Job.  Default settings do not filter and include <strong>all</strong> Records from <strong>all</strong> input Jobs.</p>

				<div class="row">
					<div class="col-md-12">
						<h5>Record Validity</h5>
						<p>Filter Records based on Validation Results from their respective Job:</p>
						
						<div class="form-check">
							<input class="form-check-input" type="radio" name="input_validity_valve" id="all" value="all" checked>
							<label class="form-check-label" for="all">
							<span class="text-warning">All records</span> (default)
							</label>
						</div>

						<div class="form-check">
							<input class="form-check-input" type="radio" name="input_validity_valve" id="valid" value="valid">
							<label class="form-check-label" for="valid">
							<span class="text-success">Passed validation</span>
							</label>
						</div>

						<div class="form-check">
							<input class="form-check-input" type="radio" name="input_validity_valve" id="invalid" value="invalid">
							<label class="form-check-label" for="invalid">
							<span class="text-danger">Failed validation</span>
							</label>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<h5>Limit Number of Records</h5>
						<p>Numerically limit Records from each in Job <em>(Note: will apply to each Job separately, so if 4 Jobs are used as input, and limit is set to 10, a total of 40 Records will result)</em>:</p>

						<div class="form-group">
							<label for="input_numerical_valve">Limit</label>
							<input type="text" class="form-control" id="input_numerical_valve" name="input_numerical_valve" placeholder="e.g. 1000"/>
						</div>						
						
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<h5>Refine by Mapped Fields</h5>
						<div class="form-group">
							<label for="input_es_query_valve">ElasticSearch Query DSL</label>
							<textarea class="form-control" id="input_es_query_valve" name="input_es_query_valve" placeholder='e.g. {"query":{"match":{"mods_subject_topic":"Scaffolding"}}}'></textarea>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>

{% endblock %}