{% block content %}

	<div class="row">
		<div class="col-md-12">
			<div style="padding:20px; border-radius:10px; background-color:#ffe7f4;">
				<h5>Select Record Validations</h5>
				<p>When running jobs, optionally select validation scenarios to run against each record in the job.  The results from these validations will be saved and associated with each record.</p>
				{% for vs in validation_scenarios %}
					
					<div class="form-check">
					  <input class="form-check-input" type="checkbox" value="{{ vs.id }}" id="validation_scenario_{{ vs.id }}" name="validation_scenario" {% if vs.default_run %}checked{% endif %}>
					  <label class="form-check-label" for="validation_scenario_{{ vs.id }}">
					    {{ vs.name }}
					  </label>
					</div>

				{% endfor %}
			</div>
		</div>
	</div>

{% endblock %}