{% extends 'core/base.html' %}

{% block content %}
	
	<div class="row">
		<div class="col-md-12">
			<h2>Search</h2>		
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<h4>Records</h4>			
			
			<table id='search_results' class="table table-bordered table-hover">
				<thead>
					<th>DB ID</th>
					<th>Combine ID</th>
					<th>Record ID</th>					
				</thead>
				<tbody></tbody>
			</table>

			<script>

				$(document).ready(function() {
				    var oTable = $('#search_results').DataTable({
				        "processing": true,
				        "serverSide": true,
				        "ajax": "{% url 'records_es_generic_dt_json' %}",
				        "searchDelay": 1000,
				        "pageLength": 10,
				        "order": [[ 1, "desc" ]],
				        "columns": [
				            { 
				            	title: "DB ID",
				            	"render": function ( data, type, row ) {
				                    return "<a target='_blank' href='/combine/organization/"+row[0]+"/record_group/"+row[1]+"/job/"+row[2]+"/record/"+row[3]+"'>" + row[3] + "</a>";
				                }
			            	},
				            { 
				            	title: "Combine ID",
				            	"render": function ( data, type, row ) {
				                    return "<a target='_blank' href='/combine/organization/"+row[0]+"/record_group/"+row[1]+"/job/"+row[2]+"/record/"+row[3]+"'>" + row[4] + "</a>";
				                }
			            	},
				            { 
				            	title: "Record ID",
				            	"render": function ( data, type, row ) {
				                    return "<a target='_blank' href='/combine/organization/"+row[0]+"/record_group/"+row[1]+"/job/"+row[2]+"/record/"+row[3]+"'>" + row[5] + "</a>";
				                }
				            }				            
				        ],
				    });
				});

			</script>

		</div>
	</div>

{% endblock %}