{% extends 'core/base.html' %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h2>Search Records</h2>
            <p style="margin-bottom:0px;">This page allows <strong>full-text</strong> searching of all Records, across
                all Jobs, currently held in Combine. To avoid refreshing the page, modify searches by using the search
                box at the <strong>upper-right</strong> of the results table.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <div id="provided_url_options_msg" style="display:none;" class="row">
                <div class="col-md-12">
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        Search parameters were detected in URL, showing applied options...
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>

            <p>
                <button id="show_options_btn" class="btn btn-info btn-sm"
                        onclick="$('#filters_container').fadeToggle(); $(this).html($(this).html() == 'Show Options' ? 'Hide Options' : 'Show Options');">
                    Show Options
                </button>
            </p>

            <div style="display:none;" id="filters_container">

                <!-- Org, RecordGroup, Job filters -->
                <div class="row">
                    <div class="col-md-12">

                        <div class="tree_select">
                            <h5>Organizations, Record Groups, Jobs</h5>
                            <p class="form-inline"><input id="jobs_search" type="text" class="form-control"
                                                          style="width:300px;" placeholder="search..."/>
                                <button style="margin-left:5px;" type="button" class="btn btn-outline-danger btn-sm"
                                        onclick="$('#jobs_search').val('').keyup(); "><i class="la la-close"></i>
                                </button>
                                <button style="margin-left:5px;" type="button" class="btn btn-outline-success btn-sm"
                                        onclick="jobs_search_select_matches();">Select Matches <i
                                        class="la la-check"></i></button>
                                <button style="margin-left:5px;" type="button" class="btn btn-outline-warning btn-sm"
                                        onclick="jobs_search_deselect_matches();">De-Select Matches <i
                                        class="la la-close"></i></button>
                            </p>
                            <div id="jobs_hierarchy_tree"></div>

                            <script>

                                search_config = {
                                    'show_only_matches': false, // isolate matches
                                    'delay': 500, // delay for search keyup
                                    'fuzzy': false // fuzzy matching
                                }

                                // init hierarchy
                                job_hierarchy_obj = JSON.parse(`{{job_hierarchy_json|safe|escapejs}}`);

                                // init tree
                                $(document).ready(function () {
                                    jobs_tree = $('#jobs_hierarchy_tree')
                                        .bind('loaded.jstree', function (e, data) {
                                            first_init();
                                        })
                                        .jstree({
                                            'plugins': ["wholerow", "checkbox", "search"],
                                            'core': {
                                                'data': job_hierarchy_obj
                                            },
                                            'search': search_config
                                        });
                                });

                                // search
                                var to = false;
                                $('#jobs_search').keyup(function () {
                                    if (to) {
                                        clearTimeout(to);
                                    }
                                    to = setTimeout(function () {
                                        var v = $('#jobs_search').val();
                                        $('#jobs_hierarchy_tree').jstree(true).search(v);
                                    }, search_config.delay);
                                });

                                // select matches
                                function jobs_search_select_matches() {
                                    matches = $("#jobs_hierarchy_tree .jstree-search")
                                    matches.each(function (index, match) {
                                        jobs_tree.jstree(true).select_node(match);
                                    });
                                }

                                // deselect matches
                                function jobs_search_deselect_matches() {
                                    matches = $("#jobs_hierarchy_tree .jstree-search")
                                    matches.each(function (index, match) {
                                        jobs_tree.jstree(true).deselect_node(match);
                                    });
                                }

                            </script>
                        </div>

                    </div>
                </div>

                <!-- include fields -->
                <div class="row">

                    <div class="col-md-4">

                        <div class="tree_select">
                            <h5>Search type</h5>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="search_type" id="search_type_1"
                                       value="any_token" checked>
                                <label class="form-check-label" for="search_type_1">
                                    any token <span
                                        style="font-weight: normal;">(matches single token within any field)</span>
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="search_type" id="search_type_2"
                                       value="exact_phrase">
                                <label class="form-check-label" for="search_type_2">
                                    exact phrase <span style="font-weight: normal;">(case sensitive, full-field matching)</span>
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="search_type" id="search_type_3"
                                       value="wildcard">
                                <label class="form-check-label" for="search_type_3">
                                    wildcard<span style="font-weight: normal;"> (<code>*</code>, case sensitive full-field matching)</span>
                                </label>
                            </div>
                        </div>

                    </div>

                </div>

                <button class="btn btn-success btn-sm" onclick="update_table();">Apply Options</button>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4>Search Results</h4>

            <table id='search_results' class="table table-bordered table-hover"></table>

            <script>

                // global data var
                data = {};


                // main search function
                function ajax_search() {

                    // get search string if present
                    {% if search_params %}
                        search_params = JSON.parse('{{ search_params|safe|escapejs }}')
                        q = search_params.q;
                    {% else %}
                        q = '';
                    {% endif %}

                    // update dt data from search options
                    update_dt_data(data);

                    // DataTable
                    table = $('#search_results').DataTable({
                        "processing": true,
                        "serverSide": true,
                        "ajax": {
                            "url": "{% url 'records_es_generic_dt_json' %}",
                            "data": data,
                        },
                        "searchDelay": 1500,
                        "pageLength": 10,
                        "pagingType": "full_numbers",
                        "ordering": false,
                        "search": {
                            "search": q,
                            "smart": false
                        },
                        "columns": [
                            {
                                title: "DB ID",
                                "render": function (data, type, row) {
                                    return "<a href='" + row[3] + "'>" + row[4] + "</a>";
                                }
                            },
                            {
                                title: "Combine ID",
                                "render": function (data, type, row) {
                                    return "<a href='" + row[3] + "'>" + row[5] + "</a>";
                                }
                            },
                            {
                                title: "Record ID",
                                "render": function (data, type, row) {
                                    return "<a href='" + row[3] + "'>" + row[6] + "</a>";
                                }
                            },
                            {
                                title: "Organization",
                                "render": function (data, type, row) {
                                    return row[0];
                                }
                            },
                            {
                                title: "Record Group",
                                "render": function (data, type, row) {
                                    return row[1];
                                }
                            },
                            {
                                title: "Job",
                                "render": function (data, type, row) {
                                    return row[2];
                                }
                            },
                        ]
                    }).on('preXhr.dt', function (e, settings, data) {

                        // update dt data from search options
                        update_dt_data(data);

                    });
                };


                // function to collect GET parameters and apply to search options
                function apply_get_parameters() {

                    show_msg = false;

                    // handle search type
                    let search_type = jQuery.query.get('search_type');
                    if (search_type != '') {
                        show_msg = true;
                        $('input[name=search_type][value=' + search_type + ']').prop('checked', true)
                    }

                    // handle parsing of jobs
                    jobs = jQuery.query.get('jobs');
                    if (jobs != '') {
                        show_msg = true;
                        js_tree = $("#jobs_hierarchy_tree").jstree();
                        jobs.map(function (job) {
                            js_tree.select_node(job);
                        })
                    }

                    // show message if either present
                    if (show_msg == true) {
                        $("#provided_url_options_msg").show();
                        $("#show_options_btn").click();
                    }

                }


                // function to update dt table with search options
                function update_dt_data(data) {

                    // collect jobs filters
                    data.jobs = jobs_tree.jstree(true).get_selected();

                    // collect search type
                    data.search_type = $('input[name=search_type]:checked').val();

                }


                // function to update GET parameters when search options applied (page is not reloaded)
                function update_get_parameters() {

                    query_string_obj = null;

                    // handle search type
                    search_type = $('input[name=search_type]:checked').val();
                    query_string_obj = jQuery.query.set('search_type', search_type);

                    // handle jobs
                    let jobs = jobs_tree.jstree(true).get_selected();
                    query_string_obj = query_string_obj.set('jobs', jobs);

                    // update URL
                    var new_url = window.location.protocol + "//" + window.location.host + window.location.pathname + query_string_obj.toString();
                    window.history.pushState({path: new_url}, '', new_url);

                }


                // function to update table when search options applied
                function update_table() {

                    // update get params
                    update_get_parameters();

                    // reload table
                    table.ajax.reload();


                }

                // first table draw
                function first_init() {
                    // apply search options from GET parameters
                    apply_get_parameters();

                    // fire initial search
                    ajax_search();
                }

            </script>

        </div>
    </div>

{% endblock %}
