{% extends 'core/base.html' %}
{% load static %}

{% block content %}

	<div class="row">
		<div class="col-md-12">
			<h2>Export State</h2>
			<p>Use the form below to select Organizations, Record Groups, Jobs, and configuration scenarios to include in the state export.</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">

			<div id="hierarchy_tree"></div>

			<script>

				// init hierarchy
				hierarchy_obj = JSON.parse(`{{hierarchy_json|safe}}`);

				$(document).ready(function(){

					tree = $('#hierarchy_tree').jstree({

						'plugins':["wholerow","checkbox"],
						'core':{
							'data':hierarchy_obj
						}

					});

				});

			</script>

		</div>
	</div>

{% endblock %}