{% extends 'core/base.html' %}

{% block content %}
	
	<h2>Test Validation Scenario</h2>

	<!-- All Records DT table -->
	{% include 'core/records_dt_table.html' %}

	<div style="width:100%;">

	<!-- input paylaod -->
	<div style="width:45%; float:left; margin:auto;">
		<h3>Validation Payload</h3>
		<p>Paste/edit your validation schematron or python script in the textbox below, or select from a pre-existing validation scenario to test or edit:</p>
		<p>
			<select id="vs_exists">
				<option value="None">Select a pre-existing validation scenario</option>
				{% for vs in validation_scenarios %}
					<option value="{{vs.id}}|{{vs.validation_type}}">{{vs.name}}</option>
				{% endfor %}
			</select>
		</p>
		<p><textarea id="vs_payload" style="width:100%; height:320px;"></textarea></p>
		<p>
			<select id="vs_type">
				<option value="sch">Schematron</option>
				<option value="python">Python code</option>
			</select>
		</p>
		<p><button id="test_vs">Test Validation</button></p>
	</div>

	<!-- validation results -->
	<div style="width:45%; float:right; margin:auto;">
		<!-- <pre><code id="vs_results" style="padding:10px; border-radius:10px;">RESULTS WILL GO HERE.</code></pre> -->
		<textarea id="vs_results" style="width:100%; height:320px;"></textarea>
	</div>

	</div>

	<script>

		// capture pre-existing validation scenarios and paste
		$(document).ready(function(){
			$("#vs_exists").change(function(){

				// get vs info
				var vs_info = this.value.split('|');

				// update dropdown type
				$("#vs_type").val(vs_info[1]);

				// get payload
				$.ajax({
					type: "GET",
					url: "/combine/configurations/validation/VS_ID/payload".replace('VS_ID', vs_info[0]),
					dataType:'text',
					success: function(data){
						$("#vs_payload").val(data);
					}			
				});
			})
		});

		$(document).ready(function(){
			$("#test_vs").click(function(){

				// change this to dynamically grab from selected rows in records table
				var record_id = 642568;

				// get vs_payload
				var vs_payload = $("#vs_payload").val();

				// get vs_type
				var vs_type = $("#vs_type").val();

				// issue ajax request and get validation results
				$.ajax({
					type: "POST",
					url: "{% url 'test_validation_scenario' %}",
					data: {
						'record_id':record_id,
						'vs_payload':vs_payload,
						'vs_type':vs_type,
						'vs_name':'temp_vs',
						'csrfmiddlewaretoken': '{{ csrf_token }}'
					},
					dataType:'text',
					success: function(data){
						console.log(data);
						$("#vs_results").val(data);
						// $("#vs_results").each(function(i, block) {
						// 	console.log(block);
						// 	hljs.highlightBlock(block);
						// });
					}			
				});

			})
		});
		
	</script>

{% endblock %}