{% extends 'core/base.html' %}

{% block content %}

	<h2>User Livy Sessions</h2>

	<table border="1">
		<tr>
			<th>Combine Session ID</th>
			<th>Active for User</th>
			<th>Name</th>
			<th>Livy Session ID</th>
			<th>Livy Session URL</th>
			<th>Status</th>
			<th>Timestamp</th>
			<th>YARN Application ID</th>
			<th>YARN Application GUI</th>
			<th>Spark Session GUI</th>
			<th>actions</th>
		</tr>
		{% for user_session in user_sessions %}
			<tr>
				<td>{{ user_session.id }}</td>
				<td>{{ user_session.active }}</td>
				<td>{{ user_session.name }}</td>
				<td>{{ user_session.session_id }}</td>
				<td>{{ user_session.session_url }}</td>
				<td>{{ user_session.status }}</td>
				<td>{{ user_session.timestamp }}</td>
				<td>{{ user_session.appId }}</td>
				{% if user_session.driverLogUrl %}
					<td><a href="{{ user_session.driverLogUrl }}" target="_blank">{{ user_session.driverLogUrl }}</a></td>
				{% else %}
					<td>None</td>
				{% endif %}
				{% if user_session.sparkUiUrl %}
					<td><a href="{{ user_session.sparkUiUrl }}" target="_blank">{{ user_session.sparkUiUrl }}</a></td>
				{% else %}
					<td>None</td>
				{% endif %}
				<td><a href="{% url 'livy_session_delete' session_id=user_session.id %}">Delete</a></td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}