/* Combine CSS */

/* High level, global */
main {
    padding: 1rem;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	padding-bottom: 20px;
}
a {
    color: #3455db;
}
.bold {
	font-weight: bold;
}
#breadcrumbs {
    margin-top:10px;
}
.breadcrumb {
	padding: 0.5rem 1rem;
	margin-bottom: 0.5rem;
}
.code_style, code {
	font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
	color: #AA00AA;
	word-break: break-word;
}
.container {
	max-width: 95%;
}
.error {
	color:red;
}
.bg_light_green{
	background-color: #deffde;
}
.bg_light_yellow{
	background-color: #fffcde;
}
.bg_light_red{
	background-color: #ffd0d0;
}
.outlined_row {
	border: 2px solid #929292;
}
table {
	font-size: 90%;
}
.row {
	margin-bottom: 1rem;
}
label {
	font-weight: bold;
}
.gray_box {
	background-color: #f5f5f5;
	padding:20px;
	border-radius:10px;
}
#global_msg_row{
	top:25px;
	/*width:50%;
	left:25%;*/
	right:1%;
	position:fixed;
	z-index:1030;
}

/* consider darkening lines in table with something similar */
.table-bordered td, .table-bordered th {
	border: 1px solid #c3c3c3;
}

/* Tabbed Content */
.full_width_tab {
	margin: 20px 0px 20px 0px;
	width: 100%;
}


/* Jobs */
.HarvestJob {
	background-color:#deffde;
}
.TransformJob {
	background-color:#fffcde;
}
.MergeJob {
	background-color:#e3deff;
}
.PublishJob {
	background-color:#def3ff;
}
.AnalysisJob {
	background-color:#e8d3bd;
}
.error_record_row{
	background-color:red;
}
.grayed_dt_row {
	background-color: #ececec;
	color: #949494;
	display:none; /* hiding entirely, but can remove this to only gray out */
}
div.grayed_dt_row, td.grayed_dt_row {
	background-color: #ececec;
	color: #949494;
	display:none; /* hiding entirely, but can remove this to only gray out */
}
.grayed_dt_row a {
	background-color: #ececec;
	color: #949494;
	display:none; /* hiding entirely, but can remove this to only gray out */
}
.invalid_job {
	background-color:#ff9898;
}
.valid_job {
    background-color:#cbffcb;
}
.warning_job {
    background-color:#fff8a8;
}
#job_family_diagram {
	width: 100%;
	height: 300px;
	border: none;
}

/* deleted jobs */
.deleted {
	background-color: #ececec;
	color: #949494;
}
.deleted a {
	background-color: #ececec;
	color: #949494;
}
.deleted > div {
	background-color: #ececec;
	color: #949494;
}

/*percentage divs*/
.percentage_div {
	margin-top:5px;
	background-color:rgba(255, 255, 0, 0.4);
}

/*modals*/
.combine_modal_lg {
	max-width:80%;
}

/*switches*/
.switch {
  font-size: 1rem;
  position: relative;
}
.switch input {
  position: absolute;
  height: 1px;
  width: 1px;
  background: none;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
  padding: 0;
}
.switch input + label {
  position: relative;
  min-width: calc(calc(2.375rem * .8) * 2);
  border-radius: calc(2.375rem * .8);
  height: calc(2.375rem * .8);
  line-height: calc(2.375rem * .8);
  display: inline-block;
  cursor: pointer;
  outline: none;
  user-select: none;
  vertical-align: middle;
  text-indent: calc(calc(calc(2.375rem * .8) * 2) + .5rem);
}
.switch input + label::before,
.switch input + label::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: calc(calc(2.375rem * .8) * 2);
  bottom: 0;
  display: block;
}
.switch input + label::before {
  right: 0;
  background-color: #dee2e6;
  border-radius: calc(2.375rem * .8);
  transition: 0.2s all;
}
.switch input + label::after {
  top: 2px;
  left: 2px;
  width: calc(calc(2.375rem * .8) - calc(2px * 2));
  height: calc(calc(2.375rem * .8) - calc(2px * 2));
  border-radius: 50%;
  background-color: white;
  transition: 0.2s all;
}
.switch input:checked + label::before {
  background-color: #08d;
}
.switch input:checked + label::after {
  margin-left: calc(2.375rem * .8);
}
.switch input:focus + label::before {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 136, 221, 0.25);
}
.switch input:disabled + label {
  color: #868e96;
  cursor: not-allowed;
}
.switch input:disabled + label::before {
  background-color: #e9ecef;
}
.switch.switch-sm {
  font-size: 0.8rem;
}
.switch.switch-sm input + label {
  min-width: calc(calc(1.5rem * .8) * 2);
  height: calc(1.5rem * .8);
  line-height: calc(1.5rem * .8);
  text-indent: calc(calc(calc(1.5rem * .8) * 2) + .5rem);
}
.switch.switch-sm input + label::before {
  width: calc(calc(1.5rem * .8) * 2);
}
.switch.switch-sm input + label::after {
  width: calc(calc(1.5rem * .8) - calc(2px * 2));
  height: calc(calc(1.5rem * .8) - calc(2px * 2));
}
.switch.switch-sm input:checked + label::after {
  margin-left: calc(1.5rem * .8);
}
.switch.switch-lg {
  font-size: 1.25rem;
}
.switch.switch-lg input + label {
  min-width: calc(calc(3rem * .8) * 2);
  height: calc(3rem * .8);
  line-height: calc(3rem * .8);
  text-indent: calc(calc(calc(3rem * .8) * 2) + .5rem);
}
.switch.switch-lg input + label::before {
  width: calc(calc(3rem * .8) * 2);
}
.switch.switch-lg input + label::after {
  width: calc(calc(3rem * .8) - calc(2px * 2));
  height: calc(calc(3rem * .8) - calc(2px * 2));
}
.switch.switch-lg input:checked + label::after {
  margin-left: calc(3rem * .8);
}
.switch + .switch {
  margin-left: 1rem;
}

/*StateIO*/
.export_state {
  background-color:#fff4e0;
}
.import_state {
  background-color:#dbebf9;
}
.tree_select {
  background-color: rgb(245, 245, 245);
  max-height:640px;
  overflow-y: scroll;
  padding:10px;
  border-radius: 5px;
}
.jstree-default .jstree-search {
  color:black;
  background-color: #ffff93;
}

/* Transform Dragging */
.draggable_span {
  margin-top: 2px;
  margin-bottom: 2px;
}

.draggable_ul {
  min-height: 75px;
  border-radius: 4px;
  padding: 5px;
  list-style-type: none;
  cursor: move;
  background-color:#f5f5f5;
}

.draggable_ul li {
  cursor: move;
  margin:5px;
  padding:5px;
}

.draggable_ul li span {
  margin:.5rem;
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
  border: 1px solid #17a2b8;
  color: #17a2b8;
}

.draggable_ul li span:hover {
  color: white;
  background-color: #17a2b8;
}

.ph-class {
  /*border: 1px solid #343a40;*/
  background-color: white;
  padding: 5px;
}


/* Tab Highlighting */
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fffdb6;
    border-color: #dee2e6 #dee2e6 #fff;
}

.navbar, .navbar .btn {
    font-weight: 700;
}

.navbar .code_style {
    color: hotpink;
}

.navbar .text-danger {
    color: #f64747 !important;
}


.progress-bar.bg-warning {
    color: #0c0c0c;
}
